<header class="navbar navbar-inverse navbar-fixed-top ani-nav" role="banner">
    <div class="navbar-header">
        
        <a href="https://www.telerik.com/kendo-ui" class="navbar-brand">K-UI</a> 
        <nav class="navbar-logo">
            <ul class="nav navbar-nav  "> 
                <li><a href="/welcome1">Welcome 1</a></li> 
                <li><a href="/welcome3">Welcome 3</a></li>
                <li><a href="/dataSource">Data Source</a></li>
                <li><a href="/modal">Modal</a></li> 
                <li><a href="/order">Computer Order</a></li>
                <li><a href="/dataVizualization">Data Viz </a></li>
                
                
            </ul>
        </nav>
    </div>
</header>