
<section>
  <form fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="formReplaceNft(f)" #f="ngForm">
    <div fxLayout="row" fxLayoutAlign=" center center">
      <div fxLayout="column" fxLayoutAlign=" center center" style="width:220px;">

        <mat-form-field class="   address select full-width" appearance="fill">

          <mat-label>Select Chain</mat-label>
          <mat-select ngModel name="chain" >
            <mat-option *ngFor="let c of chains$ | async" [value]="c.name">{{c.name}}</mat-option> 
          </mat-select>

        </mat-form-field>
        <mat-form-field style="min-width:375px" appearance="outline">
          <mat-label>Ethereum Address</mat-label>
          <input matInput type="text" name="nftAddress" ngModel placeholder="NFT" minlength="42" required />
        </mat-form-field>

      </div>

    </div>
    <button mat-raised-button mat-icon-button color="accent" type="submit">
      <mat-icon>add</mat-icon>
    </button>
  </form>
</section>