.blog {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

 
.nav-wrap {
    margin-left:15%;
    display: flex;
    justify-content: flex-start;
    gap:20px;
    align-items: center;
}
.blog-navigation { 
    padding-bottom: 30px;
    padding-top: 30px;
}