 mat-sidenav-container,
 mat-sidenav-content,
 mat-sidenav {
     height: 100%;
     background-image: linear-gradient( to right bottom, rgba(255, 255, 255, 0.897), rgb(0, 0, 139));
 }
 
 mat-sidenav {
     width: 250px;
 }
  