div.menu {

  border-radius:5px;
  // background-color: rgba(229, 229, 250, 0.575)
}

mat-select {
  width: 200px;
  background-color: white;
}
 .mat-option {
    background-color: white;
  }
//  span  .mat-option-text {
//     background-color: white;
//   }
.centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-text {
  text-align: center;
}

.flex-500 {
  width: 500px;
}

@media (max-width: 599px) {
  .flex-500 {
    width: 100%;
  }
}

mat-card {
  border-radius:5px;
  min-height: 600px;
  background-color: rgba(103, 95, 172, 0.638);
}


.new-writing {
  padding: 50px;
}


