div.menu {

  border-radius:5px;
  // background-color: rgba(229, 229, 250, 0.575)
}

.centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-text {
  text-align: center;
}

.flex-500 {
  width: 500px;
}

@media (max-width: 599px) {
  .flex-500 {
    width: 100%;
  }
}

mat-card {
  border-radius:5px;
  min-height: 600px;
  background-color: rgba(96, 79, 245, 0.526);
}


.new-writing {
  padding: 50px;
}


