<section class="new-writing centered-row">
    <form   (ngSubmit)="onStartWriting(f)" #f="ngForm">
       <div class="menu">
        <mat-card class="flex-500">
          <mat-card-title class="centered-text">Time to Write!</mat-card-title>
          <mat-card-content class="centered-text">
              <mat-form-field  class="white" *ngIf="!isLoading && writingMods$ | async">

                  <mat-select placeholder="Category" ngModel name="writing" required>
                      <mat-option *ngFor="let writing of writingMods$ | async" [value]="writing.id">
                          {{ writing.cat3 }}
                      </mat-option>
                  </mat-select>

              </mat-form-field>
              <mat-spinner *ngIf="isLoading"></mat-spinner>
          </mat-card-content>
          <mat-card-actions class="centered-text" *ngIf="!isLoading">
              <button  *ngIf="writingMods$ | async" type="submit" mat-raised-button  [disabled]="f.invalid">Start</button>
              <button  *ngIf="!(writingMods$ | async)" type="button" mat-raised-button  (click)="fetchWritings()">Fetch Again</button>
          </mat-card-actions>
      </mat-card>
       </div>
</form>
</section>
