 <a class="" > 
        <button id="mmodalBtn" class="mbutton title   hover" id="b-header">
            <h6 class="    subdailytech   hover" title="Social Data &amp; Statistics ">
                <a class="cover  ">SOCIOLOGY TOMORROW!</a>
            </h6>
            <h6 class="            subdailytech   hover">
                <a class="cover steel">WEB DEV &nbsp; AFFAIRS &nbsp; </a>
            </h6>
            <h6 class=" subdailytech  " title="Machine Learning">
                <a class="cover ">A.I.NOW</a>
            </h6>
            <h6 class="subdailytech   hover"
                title="About Blockchain Technologies in our Daily Lives">
                <a class="cover steel">QUANTUM DATA</a>
            </h6>
            <h6 class="subdailytech   hover"
                title="About Blockchain Technologies in our Daily Lives">
                <a class="cover">MUSING BLOCKCHAIN</a>
            </h6>
            <a class="btn btn-primary"><em>READING MODAL</em></a>
        </button></a>