<nav class="grey darken-3">
    <div class="nav-wrapper container"> 
       OUR DAILY TECH
    <div>  
        <pre>
               
        ▂▄▄▓▄▄▂
        ◢◤█▀████▄▄▄▄▄▄◢◤
        █  🦄 █▀▀▀▀▀▀╬
        ◥█████◤
        ══╩══╩═ 
        </pre>
    </div>
    <div>
       
    </div>
    </div>

</nav>