<nav class="grey darken-3">
    <div class="nav-wrapper container">

 
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <h6  class=" subdailytech  " title="Machine Learning"><a href="/ai-now">A.I.NOW</a></h6>
            <li><a href="/dashboard">Our Daily Tech</a></li>
            <li><h6  class=" subdailytech  " title="Machine Learning"><a href="/sociology-tomorrow">SOCIOLOGY TOMORROW!</a></h6></li>
            <li><h6><a href="/web-dev-affairs">WEB DEV AFFAIRS</a></h6></li>
            <li><a href="/ai-now">A.I.NOW</a></li>
            <li><a href="/quantum-data">QUANTUM DATA</a></li>
            <li><a href="/musing-blockchain">MUSING BLOCKCHAIN</a></li>
            





            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
 
</nav>