<div class="admin">
<h3>{{message}}</h3>

<hr>
<div class="container">
    <h4>Dashboard View for {{name}}<br /> <br /> <a routerLink="/tools">Manage tools</a></h4>
</div>

<div>
    <button (click)="getParameterUpdate()" class=".btn .btn-success">Parameter Update</button> <br /> 
    <button (click)="getUpdate()" class=".btn .btn-success">Update</button> <br /> 
    <button (click)="getErrorUpdate()" class=".btn .btn-warning">get Error Update</button>
</div>
<div class="container" *ngIf="getPostFromService">
    <h3>{{getPostFromService}}</h3>
</div>
</div>
