<div  class="container">
    
  <form (ngSubmit)="handleBasicAuthLogin()">
        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
        <div class="welcome alert  " *ngIf='!invalidLogin'><i >Welcome </i>{{username}}!</div>

    <div>
        <span class="login">User:</span> <input type="text" name="username" placeholder="demo: user" [(ngModel)]="username">
        <hr>
        <span class="login">Password:</span> <input type="password" name="password" placeholder="demo: pass" [(ngModel)]="password">
<hr>
        <!-- <button (click)=handleLogin() class="btn btn-success">SIGN ON</button> &nbsp;  -->
        <button type="submit"  class="btn btn-success">SIGN ON</button> &nbsp; 
        <hr>
    </div>

  </form>
</div>