@import url("https://fonts.googleapis.com/css?family=Monoton:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

$tmmBanner : url(img/silverchip.png) repeat 0;
$tmm : url(img/T30small10.png) repeat;
$blueRey: steelblue url('img/MaestasReykjavikBanner20.png') repeat;
$tmmBanner : url(img/silverchip.png) repeat 0;
$body-bg:blue;
$font-roboto:'Roboto';
$bg-color: steelblue;
$msg-color: white;
$color: #fff;
$rey: url(img/MaestasReykjavikBanner.jpg) repeat 0;
 
 

body{
    font-family: 'Roboto', sans-serif;
    color: rgb(61, 58, 151);
    background-image: url('img/bluechipTileT8.png');
    opacity: .9;
    background-color: rgb(46, 73, 152);
    max-width: 950px;
    margin:0;
    padding:0;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    *width: 100%;
   
    h1,h2,h3{
        margin: 0;
      }
    p {
        font-weight: 400;
     font-size: 1rem;
    }
} 

strong {
  font-weight: bold;
} 
@import "scss/application-toolkit"; 
@import "scss/application";  
@import "scss/dag";
@import "scss/multi_drop_menu";
@import "scss/calc";
@import "scss/force";
@import "scss/planets";

@import "scss/functions";
@import "scss/customVariables"; 
@import "scss/paragraph";
@import "scss/modal";
@import "scss/marsreader"; 
@import "scss/mainblog";
 
@media(max-width:700px){
    #dailylogo { 
     display:none;
  }
  }
@media(min-width:700px){
  #dailylogo { 
      float:right;
      margin-right:50%;
    height:35px;
    width:35px;
}
}
 
@media (min-width: 100px) {
    .app-navbar .navbar-collapse:after {
        height: auto;
    }
}

@media (max-width: 100px) {
    .app-search {
        margin-top: -10px;
    }
}

@media (max-width:800px) {
    .nav-link.caret * {
        z-index: 1000;
        opacity: .9;
    } 
    #bluelogo {
        transform: translate(180px,  -5px);
        float: right;
        margin-top: 0px;
        background-color: blue; 
        height:45px;
        border-radius:10%;
        width:55px;
    }
  }
  
@media (max-width:700px) {
#view {
  padding-top:45px;
  }  
}
@media (display-mode: standalone),
(display-mode: fullscreen) {
    .backButton {
        display: block;
    }
}

@media (min-width: 100px) {
    secret-paragraphMP { 
        font-family: 'monoton';
        max-width: 100%;
    }
    #secret-paragraphMPB:hover {
        cursor: pointer;
    } 
}

@media (min-width: 100px) {
    .app-navbar .navbar-collapse:after {
        height: auto;
    }
}
 
 
 
    @media (min-width: 401px) {
      .multi_drop_menu li li a {
          color: silver;
          background-color: teal;
      }
  }


@media (min-width: 768px) {
  .app-navbar .navbar-collapse:after {
      height: auto;
  }
}

@media (max-width:768) {
  .map {
      max-width: 50%;
      border: solid .5px white;
  }
} 