.centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width:400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding:5px;
  background: aliceblue;
}
.table {
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: aliceblue;
  margin: 4px auto;
}

mat-table {
  min-height:500px;
}

.paginator-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  position:sticky;
  bottom:80px;
}

.paginator-wrap mat-paginator {
  border: 1px solid black;
  border-radius: 5px;
  background: aliceblue;
}
