<!DOCTYPE html>
<html lang="en">

<head>
    

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114267362-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-114267362-1'); 
    </script>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Technology Blog: Musing Blockchain | Web Dev Affairs | Sociology Tomorrow! Latest Developments in Technology Culture, 
  Technology News, Tech Tools, Tech Talk Too! I explore daily tech topics on one of my three tech
   blog topics: Blockchain, Web Dev, and Sociology in Tech.  DailyTech is both a public blog, as it is my own research tool for both subject content and app design" name="description" />
    <meta content="Thomas Maestas, Thomas M Maestas, data analysis and visualization, sociology statistical tests"
        name="keywords" />
    <link rel="manifest" href="/manifest.json">
    <meta content="Thomas M. Maestas" name="author" />
    <title>OUR DAILY TECH</title>
    {{!-- <base href="/">  --}}



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/dist/app.css"> 
</head>

<body>
   {{> _header}}
    {{!-- {{> _add_btn}}  --}}
    <div class="container">
<header class="header">
    CONTAINER HEADER
</header>

        {{{body}}}
        
      
      <footer>  CONTAINER FOOTER </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js"
        integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script>

    
    
    <script src="dist/app1.bundle.js"></script> 
    <script src="dist/app2.bundle.js"></script>
    <script src="dist/app3.bundle.js"></script>
    <script src="dist/app4.bundle.js"></script>
</body>

</html>