.admin {
    color: whitesmoke;
    padding: 25px;
    border-radius: 5px;
    /* height: 95vh; */
    /* background-image: linear-gradient( 
        to right bottom, 
        rgba(173, 216, 230, 0.897),
         rgb(0, 0, 139)), 
         url(../../../assets/blueColorTriomphe.png);
         
    background-color: rgb(0, 0, 139); */
    background-size: cover;
    /* width:400px;   */
    /* display: grid;
    place-items: center; */
}

.centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-text {
  text-align: center;
}

.flex-100 {
  width: 100%;
}

.new-writing {
  padding: 30px;
}
.post-btn {
    min-width: 20%;
}

.post {
    min-width: 80%;
    background: rgba(128, 128, 128, 0.205);
}
hr {
    background: rgb(195, 196, 255);
    max-width: 60%;
    margin: 30px auto;
}

button {
    margin-right: 10px;
}
 
div.temp {
    max-height: 600px;
    min-height: 500px;
    width: 90%;
    padding: 10px;
    color: whitesmoke;
    background: rgba(96, 79, 245, 0.692);
    border-radius: 5px;
    margin: 30px auto;
}