.logo  {
max-width:80px;
margin:30px 33% 40px;
}

a {
  text-decoration: none;
  color: white !important;
}

a:hover,
a:active {
  color: lightgray !important;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
  color: white !important;
}
.qr {  
  padding:20px;
}