<mat-nav-list>
  <div class="logo-box">
    <a routerLink="/blogs" (click)="onClose()">
      <img class="logo" alt="DailyTech Logo" src="assets/blueColorTriomphe.png" />
    </a>
  </div>
  <hr>
 
  <a mat-list-item routerLink="/writing" (click)="onClose()">
    <mat-icon>edit</mat-icon>
    <span class="nav-caption daily-tech monoton">WRITE!</span>
  </a>


  <a mat-list-item routerLink="" pathMatch="full" (click)="onClose()">
    <mat-icon>book</mat-icon>
    <span class="nav-caption daily-tech monoton">BLOG</span>
  </a>

  <a mat-list-item routerLink="/news" (click)="onClose()">
    <mat-icon>import_contacts</mat-icon>
    <span class="nav-caption daily-tech monoton">NEWS</span>
  </a>

  <a mat-list-item *ngIf="awsAuthService.isAdminLoggedIn()"
    [routerLink]="['/admin',awsAuthService.getAuthenticatedUser()]" (click)="onClose()">
    <mat-icon>computer</mat-icon>
    <span class="nav-caption daily-tech monoton">ADMIN</span>
  </a>

  <hr />

  <!-- <a
    mat-list-item
    *ngIf="!(isAuth$ | async) && !awsAuthService.isAdminLoggedIn()"
    routerLink="/register"
    (click)="onClose()"
  >
    <mat-icon>face</mat-icon>
    <span class="nav-caption daily-tech monoton">Register</span>
  </a> -->

  <a mat-list-item *ngIf="!(isAuth$ | async) && !awsAuthService.isAdminLoggedIn()" routerLink="/login"
    (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption daily-tech monoton">LOGIN</span>
  </a>


  <a mat-list-item *ngIf="(isAuth$ | async) || awsAuthService.isAdminLoggedIn()" (click)="onLogout()"
    routerLink="/login">
    <mat-icon>eject</mat-icon>
    <span class="nav-caption daily-tech monoton">LOGOUT</span>

  </a>
</mat-nav-list>

<hr>

<div class="qr">
  <!-- <app-qrcode></app-qrcode>    -->
</div>