build:
  version: "1.4.0"
dailytech:
  message: "Welcome to DAILYTECH-REST APIs "
  contactDetails:
    name: "Thomas Maesatas - Developer"
    email: "thomas1.maestas@gmail.com"
  dependsOn:
    - MAPL-AUTHORIZATION
    - DAILYTECH-CONFIG
  depenedencies:
    - none

###################################################
server.address: 0.0.0.0
spring.application.name: DAILYTECH-REST
spring.application.version: 1.4.0
server.port: 8082
spring.profiles.active: mysql # mysql-slim  # h2

# Cloud-enabled configruation
spring:
  config:
    import: "optional:configserver:http://localhost:8888"
  cloud:
    config:
      enabled: true # SLIM Standalone
      discovery:
        enabled: ${spring.cloud.config.enabled}
        service-id: DAILYTECH-CONFIG
      import-check:
        enabled: ${spring.cloud.config.enabled}
      bootstrap.enabled: false
      fail-fast: false
    bus:
      enabled: false
  autoconfigure.exclude: org.springframework.boot.autoconfigure.amqp.RabbitAutoConfiguration

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: ${spring.cloud.config.enabled}
    fetch-registry: ${spring.cloud.config.enabled}
    enabled: ${spring.cloud.config.enabled}
  instance:
    status-page-url-path: /actuator/info
    health-check-url-path: /actuator/health

# INFO + ACTUATOR + DATA-REST + ZIPKIN-TRACING + SWAGGER
info.app.name: ${spring.application.name}
info.app.description: ${spring.application.name} CryptoCurrency Server Application
info.app.version: ${spring.application.version}
info.app.is-cloud: ${spring.cloud.config.enabled:false}
spring.data.rest.base-path: /rest/
#   actuator
management:
  info:
    env:
      enabled: true
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"  #health,metrics
  health:
    binders:
      enabled: false # disable actuator reporting MQ/Kafka indicators
    rabbit:
      enabled: false # disable actuator reporting rabbit indicators
  tracing: #  zipkin-tracing
    enabled: true
spring.zipkin.base-url: http://127.0.0.1:9411/
spring.sleuth.sampler.probability: 1.0
#  swagger
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  packages-to-scan: net.ourdailytech.rest.controller #
  packages-to-exclude: net.ourdailytech.rest.repository
# Log
logging.level.org.springdoc: DEBUG
logging.level.org.springframework.web: DEBUG
logging.level.org.springframework: INFO

spring.jmx.enabled: false
# Spring AMQP + Actuator
management.health.rabbit.enabled:  false
spring.rabbitmq.listener.simple.auto-startup: false
spring.rabbitmq.listener.simple.missing-queues-fatal: false
spring.rabbitmq.host: localhost
spring.rabbitmq.port: 5672
spring.rabbitmq.username: guest
spring.rabbitmq.password: guest
#because the javax.management.InstanceAlreadyExistsException occurs when there is an attempt to register an MBean (Managed Bean) that has already been registered. JMX is used for managing and monitoring Java applications, \
#  and Spring Boot automatically registers various MBeans for management purposes.


# Actuator endpoints for Circuit Breaker
#management.health.circuitbreakers.enabled: true

# Circuit Breaker configuration
#resilience4j.circuitbreaker.instances.AUTH-SERVICE.registerHealthIndicator: true
#resilience4j.circuitbreaker.instances.AUTH-SERVICE.failureRateThreshold: 50
#resilience4j.circuitbreaker.instances.AUTH-SERVICE.minimumNumberOfCalls: 5
#resilience4j.circuitbreaker.instances.AUTH-SERVICE.automaticTransitionFromOpenToHalfOpenEnabled: true
#resilience4j.circuitbreaker.instances.AUTH-SERVICE.waitDurationInOpenState: 5s
#resilience4j.circuitbreaker.instances.AUTH-SERVICE.permittedNumberOfCallsInHalfOpenState: 3
#resilience4j.circuitbreaker.instances.AUTH-SERVICE.slidingWindowSize: 10
#resilience4j.circuitbreaker.instances.AUTH-SERVICE.slidingWindowType: COUNT_BASED

# Retry configuration
#resilience4j.retry.instances.AUTH-SERVICE.registerHealthIndicator: true
#resilience4j.retry.instances.AUTH-SERVICE.maxRetryAttempts: 5
#resilience4j.retry.instances.AUTH-SERVICE.waitDuration: 2
app:
  jwt-secret: e037837c23ab0fe4f59e203ece8c0ddda2c70bfd5b5319fce2af9647be43b704
  jwt-expiration-milliseconds: 604800000


#spring.mvc.view.prefix=/WEB-INF/jsp
#spring.mvc.view.suffix=.jsp
#server.context-path=/cli


########################

# MYSQL DB CONFIGURATION ##########################

--
#spring.datasource.url: jdbc:mysql://localhost:3306/test_db?createDatabaseIfNotExist=true
spring:
  datasource:
    url: jdbc:mysql://thecryptomav3n.cmhuku8c69jk.us-east-1.rds.amazonaws.com:3306/dailytech?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: admin
    password: ${MYSQL_AWS_DB_PASSWORD}
    driver-class-name:  com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        useUnicode: true
        show-sql: true
        format_sql: true
        jdbc.lob.non_contextual_creation: true
        connection:
          characterEncoding:  UTF-8
          CharSet:  UTF-8
  sql:
    init:
      schema-locations: classpath:schema-mysql.sql
      data-locations: classpath:data-mysql.sql
      continue-on-error: true
      mode: never
# always #  never #

# DEV ONLY
spring.jmx.enabled: false
#because the javax.management.InstanceAlreadyExistsException occurs when there is an attempt to register an MBean (Managed Bean) that has already been registered. JMX is used for managing and monitoring Java applications, \
#  and Spring Boot automatically registers various MBeans for management purposes.
spring.jpa.hibernate.ddl-auto: none #update

## Public views
# show  bind values
logging.level.org.hibernate.type.descriptor.sql: trace
management.endpoints.web.exposure.include: "*"
management.info.env.enabled: true
logging.level.org.springframework: info





































