hr {
    background: rgb(195, 196, 255);
    max-width: 60%;
    margin: 30px auto;
}

button {
    margin-right: 10px;
}
 
div.temp {
    max-height: 600px;
    min-height: 500px;
    width: 90%;
    padding: 10px;
    color: whitesmoke;
    background: rgba(96, 79, 245, 0.692);
    border-radius: 5px;
    margin: 30px auto;
}