<section class="container">
    <!-- <div class="alert alert-warning" *ngIf="postForm.dirty && postForm.invalid">Enter valid values</div> -->
    <div class="alert alert-warning" *ngIf="category.touched && category.invalid">category required</div>
    <div class="alert alert-warning" *ngIf="title.touched && title.invalid"> title required</div>
    <div class="alert alert-warning" *ngIf="blogpost.touched && blogpost.invalid"> blogpost required</div>

    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" (ngSubmit)="!postForm.invalid && savePost()"
        #postForm="ngForm">

        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <input matInput [(ngModel)]="post.cat3" #category="ngModel" type="text" name="category">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="post.title" #title="ngModel" type="text" name="title">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Post</mat-label>
            <textarea matInput [(ngModel)]="post.post" #blogpost="ngModel" type="text" name="blogpost"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Citation</mat-label>
            <textarea matInput [(ngModel)]="post.blogcite" #citation="ngModel" type="text" name="citation"></textarea>
        </mat-form-field>
        <div class="button-row">
            <button type="submit" mat-raised-button color="primary">Save</button>&nbsp;
            <button type="cancel" mat-raised-button>Cancel</button>
        </div>
    </form>
</section>