<section class="signup-form">


  <form fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="handleBasicAuthLogin(f)" #f="ngForm">
    
      <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
  <div class="welcome alert  " *ngIf='!invalidLogin'><h4>LOGIN</h4> </div>
    <!---->
    <mat-form-field appearance="fill">
      <input type="email" matInput placeholder="Username: user" ngModel name="username"   #username />
    </mat-form-field>
 
    <mat-form-field appearance="fill">
      <input type="password" matInput placeholder="Password: pass" ngModel name="password" #password />
    </mat-form-field>
    <hr>
     <div class="row">
        <button type="submit"  mat-raised-button color="primary">SIGN ON</button> &nbsp; 
       <button   mat-raised-button color="basic">CANCEL</button>
     </div>
  </form>

</section>

<!-- 
    <div>
        <span class="login">User:</span> <input type="text" name="username" placeholder="demo: user" [(ngModel)]="username">
        <hr>
        <span class="login">Password:</span> <input type="password" name="password" placeholder="demo: pass" [(ngModel)]="password">
<hr>
        <!-- <button (click)=handleLogin() class="btn btn-success">SIGN ON</button> &nbsp;  -->

<!-- 
        <hr>
    </div>  -->