<div class="menu">
  <footer>
  <p>  
    
    &copy; <small>{{ copyright }}</small> <a routerLink="/about"> OurDailyTech</a> &nbsp;|&nbsp;
    <a href="https://thomasmaestas.net" target="_blank">thomasmaestas.net</a> &nbsp;|&nbsp; 
    <a title="github" href="https://github.com/thomasm1" target="_blank">
      <i class="fa-brands fa-github"></i>
    </a>  &nbsp;|&nbsp;  


    <a title="x" href="https://x.com/ThomasMaestas" target="_blank">
      <i class="fa-brands fa-twitter"></i>
    </a>  &nbsp;|&nbsp;  


    <a
      title="linkedin"
      href="https://www.linkedin.com/in/thomasmaestas/"
      target="_blank"
    >
      <i class="fa-brands fa-linkedin"></i>
    </a>

  </p>
  
</footer>
</div>
