.active-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 3px solid #fff;
  font-weight: bold;
}


/* Fix for horizontal mat-nav-list menu items */
.navigation-items.mat-mdc-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;

  a.mat-mdc-list-item {
    width: auto !important;
    min-width: fit-content !important;
    padding: 0 16px !important;
    white-space: nowrap !important;

    .mdc-list-item__content {
      overflow: visible !important;
      text-overflow: clip !important;
      white-space: nowrap !important;
    }

    .mat-mdc-list-item-unscoped-content {
      overflow: visible !important;
      text-overflow: clip !important;
    }
  }
}

/* Gap between navigation items */
.nav-gap-10 a.mat-mdc-list-item {
  margin-right:1px;
}

.li {
  list-style-type: none;
  color:white;
}

 li.pointer  {
   cursor: pointer;
 }

 .menu-center {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .navigation-items {
   display: flex;
   flex-direction: row;
 }

 .nav-gap-10 {
   gap: 20px;
 }

 .hide-xs {
   display: flex;
 }

 .hide-gt-xs {
   display: none;
 }

 @media (max-width: 599px) {
   .hide-xs {
     display: none !important;
   }
   .hide-gt-xs {
     display: block;
   }
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     margin: 8px 0;
 }

 p {
     margin: 0;
 }

 .spacer {
     flex: 1;
 }
 
mat-toolbar {
    height:80px;
    position: relative;
}
// mat-toolbar.mat-primary {
//     background: #673ab75c;
// }

div.menu {
  background-image: url("../../../assets/bluechipTile.jpg");
}
mat-toolbar.mat-primary {
    background: #673ab75c;  // Restore the background color
}

.menu-center {
   margin-left:10px;  // Start after the logo
   display: flex;
   justify-content: center;
   align-items: center;
   position: static;  // Remove absolute positioning
 }

#menu-list a {

  color:rgba(255, 255, 255, 0.497);
  font-family:'roboto';
}

 .logo {
     /* position: relative; */
     top: -10px;
     height: 75px;
     margin: 0 10px;
 }
 .logo-box {
   background-color:transparent;
   cursor:pointer;
 }

 /* ANIMATION */



 a,
 a:visited, a:hover  {
     text-decoration: none;
     font-weight:500;
     font-size: 1.4rem;
     min-height:100%;
 }

 a:active {
     color: lightgray;
 }


