.active-link {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 3px solid #fff;
  font-weight: bold;
}

 li.pointer  {
   cursor: pointer;
 }

 .menu-center {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .navigation-items {
   display: flex;
   flex-direction: row;
 }

 .nav-gap-10 {
   gap: 40px;
 }

 .hide-xs {
   display: flex;
 }

 .hide-gt-xs {
   display: none;
 }

 @media (max-width: 599px) {
   .hide-xs {
     display: none !important;
   }
   .hide-gt-xs {
     display: block;
   }
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     margin: 8px 0;
 }

 p {
     margin: 0;
 }

 .spacer {
     flex: 1;
 }
mat-toolbar {
    height:80px;
    position: relative;
}
mat-toolbar.mat-primary {
    background: #673ab75c;
}

div.menu {
  background-image: url("../../../assets/bluechipTile.jpg");
}

 .menu-center {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   justify-content: center;
   align-items: center;
 }

#menu-list a {

  color:rgba(255, 255, 255, 0.497);
  font-family:'roboto';
}

 .logo {
     /* position: relative; */
     top: -10px;
     height: 75px;
     margin: 0 10px;
 }
 .logo-box {
   background-color:transparent;
   cursor:pointer;
 }

 /* ANIMATION */



 a,
 a:visited, a:hover  {
     text-decoration: none;
     font-weight:500;
     font-size: 1.4rem;
     min-height:100%;
 }

 a:active {
     color: lightgray;
 }


