<!DOCTYPE html>
<html lang="en" ng-app="dailyTech" lang="en" xml:lang="en">

<head>

  <meta charset="utf-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="Technology Blog: Musing Blockchain | Web Dev Affairs | Sociology Tomorrow! Latest Developments in Technology Culture, 
  Technology News, Tech Tools, Tech Talk Too! I explore daily tech topics on one of my three tech
   blog topics: Blockchain, Web Dev, and Sociology in Tech"
   name="description" />
  <meta content="Thomas Maestas, Thomas M Maestas, data analysis and visualization, sociology statistical tests" name="keywords"
  />
  <link rel="manifest" href="/manifest.json">
  <meta content="Thomas M. Maestas" name="author" />
  <title>OUR DAILY TECH</title>

  <link href="dist/app.css" rel="stylesheet" />
  <script src="dist/js/d3/d3v4.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular-route.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>



<body class="with-top-navbar">


  <nav class="navbar navbar-toggleable-sm  fixed-top bg-primary app-navbar">
    <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-center hidden-md-up"
      data-target="#navbarResponsive" data-toggle="collapse" type="button" id="toggler"> </button>

    <div class="collapse navbar-collapse   multi_drop_menu   menu" id="navbarResponsive">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item   "> 
          <a class="nav-link" href="#/">
            <span class=" subdailytech"> TECH
              <br />BLOG </span>
          </a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link" href="#/archives">
            <span class="subdailytech ">BLOG
              <br /> ARCHIVES </span>
          </a>
        </li> 
        <li class="nav-item active">
          <a class="nav-link" title="tmm FICTION" href="#/_For_Cat_Eyes_Only_">
            <span class="caret subdailytech">FOR_CAT
              <br />EYES_ONLY</span>
          </a>
          <ul style="z-index:0" class="menu-left">
            <li>
              tmm FICTION
              <a style="z-index:199; " title="tmm FICTION" href="#/_For_Cat_Eyes_Only_">For Cat Eyes Only:
                <i>Early Months of Win&#39;s Campaign</i>
              </a>
            </li>
            <li style="z-index:199; ">
              tmm FICTION
              <a style="z-index:199; " title="tmm FICTION" href="#/_For_Cat_Eyes_Only_#capturing">Fiction Excerpts From:
                <br />
                <i>The Casperian Ancestries</i>
                <br />
                <small>Capturing One Cat&#39;s Past and Present</small>
              </a>
              tmm FICTION
            </li>
          </ul>
        </li>
        <li style="z-index:5" class="nav-item">
          <a class="nav-link">
            <span class=" subdailytech">CODING
              <br /> TOOLS
            </span>
          </a>
      
     
          <ul id="ul">
          </ul>
          <!--end UL-->


        </li>
      </ul>
      <ul id="media" class="nav navbar-nav navbar-right">
					
        <li>
     
          <a title="github" href="https://github.com/thomasm1" target="_blank">
        
            <i class="fa fa-github"></i>
        
          </a>
        
        </li>
        <li>
        
          <a title="twitter" href="https://twitter.com/ThomasMaestas" target="_blank">
        
            <i class="fa fa-twitter"></i>
        
          </a>
        
        </li>
        
        <li>
        
          <a title="facebook" href="https://www.facebook.com/thomasm1.maestas" target="_blank">
        
            <i class="fa fa-facebook"></i>
        
          </a>
        
        </li>
        
        <li>
        
          <a title="linkedin" href="http://linkedin.com/in/thomasmaestas" target="_blank">
        
            <i class="fa fa-linkedin"></i>
        
          </a>
        
        </li>
        </ul>  
      <abbr title="Our Daily Tech">
        <img class="card-profile-img zoom" id="dailylogo" alt="image of Le Mont Real" src="dist/img/redColorTriomphe.png" />
      </abbr>

    </div>

  </nav>




  <div class="container" id="foreground" ng-hide="CatsController">
    <!-- /.container -->

    <div class="row">
      <div class="col-md-12" id="view">



        <div class="container pt-4">
          <div class="row">
            <div class="col-lg-3"  ng-controller="nasaApiCtrl">
              <div class="card card-profile">

                <div id="planets">
                  <form class="form">
                    <input type="radio" name="reference" id="ref-annulus">
                    <label for="ref-annulus">Annulus</label>
                    <br>
                    <input type="radio" name="reference" id="ref-planet" checked>
                    <label for="ref-planet">Planets</label>
                    <br>
                    <input type="radio" name="reference" id="ref-sun">
                    <label for="ref-sun">Sun</label>
                  </form>
                </div>
                <div id="map0" class="map0"></div> <div style="float:left" class="map0"></div>
                <script src="dist/planets.js"></script>
                
                <div class=" card-header" >
                  <button id="mmodalBtn" class="mbutton title   hover">
                    <h6 class="    subdailytech white hover" title="Social Data &amp; Statistics ">
                          <a class="cover  ">SOCIOLOGY TOMORROW!</a>
                     </h6>
                    <h6 class="            subdailytech white hover">
                      <a class="cover steel">WEB DEV &nbsp; AFFAIRS &nbsp; </a>
                    </h6> 
                    <h6 class=" subdailytech white" title="Machine Learning"> 
                      <a class="cover ">A.I.NOW</a>
                    </h6>
                    <h6 class="subdailytech white hover" title="About Blockchain Technologies in our Daily Lives">
                      <a class="cover steel">QUANTUM DATA</a>
                    </h6>
                    <h6 class="subdailytech white hover" title="About Blockchain Technologies in our Daily Lives">
                      <a class="cover">MUSING BLOCKCHAIN</a>
                    </h6> 
                  </button>
               
               
                 
                </div>
                
              </div>
            </div>

            <div class="col-lg-6">
              <div id="msimpleModal" class="mmodal">
                <div class="mmodal-content">
                  <span class="mcloseBtn"> &nbsp;&times; &nbsp; </span>
                  <div class="mmodal-header">

                  </div>
                  <div class="mod-behave ">
                    <div id="top-mod"></div>
                    <div id="paragraph-oct-mod"></div>
                    <div id="paragraph-sep-mod"></div>
                     <div id="paragraph-aug-mod"></div>
                    <div id="paragraph-july-mod"></div>
                    <div id="paragraph-june-mod"></div>
                    <div id="paragraph-may-mod"></div>
                    <div id="paragraph-apr-mod"></div>
                    <div id="paragraph-mar-mod"></div>
                    <div id="paragraph-feb-mod"></div>

                  </div>
                  <div class="mmodal-footer">
                    <p>&copy; 2018 All Rights Reserved. &nbsp;|
                      <a href="http://www.thomasmaestas.net" style="color:darkblue;text-decoration:none;">thomasmaestas.net &nbsp;|</a>
                      <a href="mailto:thomas@ourdailytech.com" style="color:darkblue;text-decoration:none;">
                        thomas@ourdailytech.com &nbsp;|</a>
                      <a href="http://www.thomasmaestas.net/profile.html#contactme" title="Contact Information: thomasmaestas.net">
                        Contact Information</a>
                    </p>
                  </div>

                </div>
              </div> 

              
              <ul class="list-group media-list media-list-stream mb-4" id="center-col"> 
                <div ng-view class="view"></div> 
                <li>
                  <div id="tech">

                    <div class="mod-behave ">
                      <div id="top"></div>
                      
                      <div id="paragraph-oct"></div>
                      <div id="paragraph-sep"></div>
                      <div id="paragraph-aug"></div>
                      <div id="paragraph-july"></div>
                      <div id="paragraph-june"></div>
                      <div id="paragraph-may"></div>
                      <div id="paragraph-apr"></div>
                      <div id="paragraph-mar"></div>
                      <div id="paragraph-feb"></div>

                    </div>
                    <!-- blog-text.js  BEGINS HERE -->


                    <div id="febarchive">
                    </div>
                  </div>
                </li>
              </ul>


            </div>

            <div class="col-lg-3"   ng-controller="nasaAppController">
              <div class="card mb-4 ">
                <div class="card-block">
                  <div id="marsreader" class="marsreader" >

                    <pre   ng-model="reqObjModel" id="reqObject"></pre>
                    <img id="apod_img_id"   class="zoom" />
                    <p id="copyright"></p>
                    <h6 class="dailytech">Twython NASA API </h6>
                    <h5 id="apod_title"></h5>
                    <p id="apod_explaination"></p>
                        <pre id="returnObject"></pre>
         
                    </div>
                  
                    <div class="media-body thesis">

                    </div>


                    <div id="force">
                        <canvas class="canvas" height="700px"></canvas>
   
                      </div>
       
                    <div class="map mb-4" height="140">
                 
                    </div>
 

                  </div>
                  <div class="twython">
                      <h4 class="subdailytech white">
                     Twython NASA </h4>
                   <ul class="imgcol">
                     <li ng-repeat="nasa in nasas  | orderBy:'-nasas'"><img  src="/dist/img/nasa/{{nasa}}"  class=" zoom4" /></li> <button ng-click="addImage()"  class="pull-right" > more </button>
                   </ul>   
                 </div>
                </div>
              </div>



            </div>
            <!-- end card card-link-list -->

          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->


  <div class="card-block" id="footer">
    <a class="nav-link" href="#/posts">_</a>
    <p>Copyright &copy; 2018 All Rights Reserved. &nbsp; | &nbsp;
      <a href="http://www.thomasmaestas.net" title="Contact Information: thomasmaestas.net/">
        thomasmaestas.net</a>&nbsp; | &nbsp;
      <img src="dist/img/paypal.PNG" alt="PayPal Emblem" height="
	   15" />
      <a href="https://www.paypal.com/paypalme/ThomasMaestas" style="color:white;text-decoration:none;">
        &nbsp; Blog Support Appreciated!</a>
    </p>
  </div>

  </div>
  </div>
  </div>
  <!-- /.container -->
  <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a89e0d5ca214cf7"></script>

  <script src="dist/js/lib/tether.min.js"></script>
  <script src="dist/js/lib/popper.min.js"></script>
  <script src="dist/js/lib/bootstrap.min.js"></script>
  <script src="dist/blog-draft-oct.js"></script>
  <script src="dist/bundle_daily_sept.js"></script>
  <script src="daily-tech.js"></script>

  <script src="/controllers/abouts.js"></script>
  <script src="/controllers/home.js"></script>
  <script src="/controllers/archives.js"></script>
  <script src="/controllers/cat3s.js"></script>
  <script src="/controllers/cats.js"></script>

  <script src="/controllers/posts.js"></script>

</body>

</html>
