 
<style>
  .form {
    display: none;
  }
  #archives_title {
    cursor:text;
    padding:10px;
  }
  div#map0 {
    display:none;
  }
</style>

<ul id="blogs" class="  dailytech  archive">
  <h3 id="archives_title">Daily Tech Archives</h3>
  <br />

  <li>
    <h5 class="secretAUG" id="secret-buttonAUG">
      <button>
        AUGUST &nbsp;  2018  &nbsp; 
      </button>
    </h5>

    <p class="mod-behave" id="secret-paragraphAUG">&nbsp;</p>
  </li>
  
  <li>
    <h5 class="secretJULY" id="secret-buttonJULY">
      <button>
        JULY  &nbsp;2018  
      </button>
    </h5> 
    <p class="mod-behave" id="secret-paragraphJULY">&nbsp;</p>
  </li>

  <li>
    <h5 class="secretJUNE" id="secret-buttonJUNE">
      <button>
        JUNE &nbsp; 2018   
      </button>
    </h5>
    <p class="mod-behave" id="secret-paragraphJUNE">&nbsp;</p>
  </li>

  <li>
    <h5 class="secretMAY" id="secret-buttonMAY">
      <button>
        MAY &nbsp; 2018  
      </button>
    </h5>
    <p class="mod-behave" id="secret-paragraphMAY">&nbsp;</p>
  </li>

  <li>
    <h5 class="secretAPR" id="secret-buttonAPR">
      <button>
        APRIL &nbsp; 2018  
      </button>
    </h5>
    <p class="mod-behave" id="secret-paragraphAPR">&nbsp;</p>
  </li>

  <li>
    <h5 class="secretMAR" id="secret-buttonMAR">
      <button>
        MARCH &nbsp; 2018
      </button>
    </h5>
    <p class="mod-behave" id="secret-paragraphMAR">&nbsp;</p>
  </li>

  <li>
    <h5 class="secretMPB" id="secret-buttonMPB">
      <button>
        FEBRUARY &nbsp; 2018 
      </button>
    </h5>
    <p class="mod-behave" id="secret-paragraphMPB">&nbsp;</p>
  </li>
</ul>

<h5 class=" secretMP" id="secret-buttonMP">DAILY &nbsp;&nbsp; TECH &nbsp;&nbsp; MISSION &nbsp;&nbsp; STATEMENT</h5>
<p id="secret-paragraphMP">&nbsp;</p>
<h5 class="secret" id="secret-button">About the Author</h5>
<p id="secret-paragraph">&nbsp;</p>