<div class="link-dialog">
  <div class="dialog-header">
    <div>
      <h2>{{ category.cat3 || category.name }}</h2>
      <p class="link-copy">{{ category.description || 'Saved research URLs for this link category.' }}</p>
    </div>
    <button mat-icon-button type="button" aria-label="Close links dialog" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="dialog-body">
    <mat-spinner *ngIf="isLoading" diameter="32" class="dialog-spinner"></mat-spinner>

    <p *ngIf="!isLoading && errorMessage" class="status-message error-message">
      {{ errorMessage }}
    </p>

    <p *ngIf="!isLoading && !errorMessage && !researchUrls.length" class="status-message">
      No saved URLs yet for this link category.
    </p>

    <div *ngIf="!isLoading && researchUrls.length" class="url-list-wrap">
      <mat-list class="url-list">
        <ng-container *ngFor="let item of researchUrls; let last = last">
          <mat-list-item class="url-item">
            <div class="url-row">
              <p class="url-title">{{ item.title || item.url }}</p>
              <a [href]="item.url" target="_blank" rel="noopener noreferrer">{{ item.url }}</a>
            </div>
          </mat-list-item>
          <mat-divider *ngIf="!last"></mat-divider>
        </ng-container>
      </mat-list>
    </div>
  </div>
</div>
