<section class="links-page">
  <div class="links-shell">
    <div class="links-tree">
      <div class="tree-root">
        <mat-icon>account_tree</mat-icon>
        <span>Links</span>
      </div>

      <div class="tree-children">
        <ng-container *ngFor="let category of categoryMods$ | async">
          <button
            mat-button
            type="button"
            class="link-node"
            (click)="openLinkCategory(category)"
          >
            <span class="node-connector"></span>
            <mat-icon class="node-icon">chevron_right</mat-icon>
            <span class="link-name">{{ getCategoryLabel(category) }}</span>
          </button>

          <ng-container *ngFor="let child of category.children || []">
            <button
              mat-button
              type="button"
              class="link-node child-link-node"
              (click)="openLinkCategory(child)"
            >
              <span class="node-connector"></span>
              <mat-icon class="node-icon">subdirectory_arrow_right</mat-icon>
              <span class="link-name">{{ getCategoryLabel(child) }}</span>
            </button>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</section>
