mat-form-field {
    width: 300px;
}
hr {
    background: rgb(195, 196, 255);
    max-width: 60%;
    margin: 30px auto;
}

button {
    margin-right: 10px;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-flag {
  cursor:pointer;
}
 .temp {
    max-height: 600px;
    min-height: 500px;
    width: 90%;
    padding: 10px;
    color: darkblue;
    background-color: rgba(241, 240, 248, 0.5);
    border-radius: 5px;
    margin: 30px auto;
}
