<div ng-controller="BookListCtrl" id="bookListWrapper">
	<form role="form">
	  <div class="form-group">
<h5> 	Search: &nbsp;
		<input type="text" class="form-control" placeholder="Search here..."
			ng-model="searchStr">
			
		</h5><h5  > 	Sort by: &nbsp;
					<select  class="form-control" ng-model="orderProp" > 
							<option class="blue"  value="did">Date</option>
						<option class="blue"  value="title">Title</option>
						<option class="blue"  value="cat3">Category</option>
					</select>
				</h5> 
	  </div>
	</form>
	<ul  class="list-unstyled">
		<li class="book bg" ng-repeat="book in books |  filter:searchStr | orderBy:orderProp" 
		> 
			<div class="book-details clearfix">
					<h5 class="pull-right"> {{book.date}}</h5>			<h5  id="title"  >{{book.title }}</h5> 
				<h4 style="transform:translate(-170px,  0px); color:white;" >{{book.cat3}}</h4 >	
		<button class="btn btn-info  pull-right" ng-click="addToPost(book)">Add to Reading Collection</button>
			<!--	
				<button class="btn btn-info" ng-click="add(book)">Add to Reading List</button>
			-->
		</div>
		</li>
	</ul>
</div>