<div  ng-controller="PostListCtrl" id="bookListWrapper">


	<div ng-controller="TodoListController">
			<style>
				 * {
					 list-style-type:none;
				 }
					.done-true {
						text-decoration: line-through;
						color: steelblue;
					}
					input {
						color:blue;
					min-width:200px;
					}
				.toAdd {
					background-color:   darkblue;
					padding-left:10px;
					min-height:300px;
				}
				.book {
					min-height: 300px;
				} 

				</style>
				<h2>Reading List</h2>
				<div class="toAdd" ng-controller="TodoListController as todoList">
				
					<div>
						<span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining posts</span>
						[ <a href="" ng-click="todoList.archive()">Archive</a> ]
						<ul class="unstyled">
							<li ng-repeat="todo in todoList.todos">
							<br />	<label class="checkbox">
									<input type="checkbox" ng-model="todo.done">
								 	<span class="done-{{todo.done}}">{{todo.text}}</span>
								 		</label>
							</li>
						</ul>
						<form ng-submit="todoList.addTodo()">
							<input type="text" ng-model="todoList.todoText" size="30" placeholder="add new todo here">
							<input class="btn-primary" type="submit" value="add">
						</form>
					</div>




	<ul class="list-unstyled">
		<li class="book" ng-repeat="post in books"
			style="background: rgba(250, 199, 199.5) url('imgs/redColorTriomphe.png') no-repeat">
			<p>Please click on Read button to  the book.</p>
			<div class="book-details clearfix">	
				<h3>{{post.cat3}}</h3>
				<p>{{post.title }}</p>
				<ul class="  list-inline">
					
				<ul class=" list-inline">
					<li> {{post.date}}</li>
					<li>Category: {{post.cat3 | uppercase}}</li> 
					<li> {{post.author}}</li>
				</ul>
		
				<div id="post">  {{post.post}}
					</div>
				<div  id="blogcite">Citations: {{post.blogcite}}</p>
				<button class="btn btn-info pull-right" ng-click="addToPost(book)">Read</button>
				</div>
				</ul>
				<p>{{post.details}}</p>
				<button class="btn btn-info pull-right" ng-click="add(book)">Details</button>
			</div>
		</li>
	</ul>
</div>