div.menu {

  border-radius:5px;
  // background-color: rgba(229, 229, 250, 0.575)
}

mat-card {
  border-radius:5px;
  min-height: 600px;
  background-color: rgba(96, 79, 245, 0.526);
}


.new-writing {
  padding: 50px;
}


