<div ng-controller="BooksController" class="read" ng-class="nonStat" >
<style>
    .read {
        border:2px inset blue;
        border-radius:5px;
        text-align:left;
        padding:10px;
        background-color:rgba(255, 255, 255, 0.274); 
    } 
    .list {
        
        text-align:left;
        list-style-type:none;
    }
    .filter {
        padding:5px;
        background-color:rgba(208, 204, 245, 0.486);
    }
    .categories {
max-height:80px;
overflow-y:scroll;
display:none;
    }
    .toggleBtn {
        display:none;
    }
</style>
<div ng-click="tog()" ng-class="toggleBtn">
    
<h2 class="subdailytech filter">Filters &nbsp;&nbsp; | &nbsp;&nbsp; Collections &nbsp;&nbsp; | &nbsp;&nbsp; Statistics</h2>
 
Blogs: {{ books.summaryData.bookCount }}<br />
    Category   {{ books.summaryData.readerCount }}<br />
    Blog Count {{ books.summaryData.grandTotalMinutes }} 

<h2 class="subdailytech filter ">All Blogs</h2>
<div>
    <ul>
        <li  class="list"  class="list" ng-repeat="book in books.allBooks">{{ book.title }} - {{ book.author }}
            <a href="#/EditBook/{{ book.book_id }}"> | Edit</a>
            <a ng-click="books.deleteBook(book.book_id)" href=""> | Delete</a>
            <a href="#/AddBook">Add New Book</a>&nbsp;&nbsp; | &nbsp;&nbsp;
            <a href="#/EditBook/{{ books.currentUser.lastBookEdited.book_id }}"> | Open Last Edited</a> 
        </li>
    </ul>
</div> 
<h4 class="subdailytech  filter ">All Categories</h4>
<div class="categories">
    <ul>
        <li class="list "  ng-repeat="reader in books.allReaders">{{ reader.name }} - {{ books.getBadge(reader.totalMinutesRead) }}</li>
    </ul>
</div> 
<div>
    {{ books.favoriteBook }}
</div>

</div>