.blog {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.outer-div {
  min-height:800px;

}
.inner-div {
  max-width:80%;
  width:600px;
  margin-right:auto;
  margin-left:auto;
  padding:20px;
  background:whitesmoke;
}
.inner-title {
  color:rgb(85, 85, 85);
}
