<div class="panel panel-default">
    <a href="#/posts">Go Back</a>
    <div class="panel-heading">
    <h3 class="panel-title dailytech">Add Post</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="addPost()">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="post.title" placeholder="Title">
        </div>
        <div class="form-group">
          <label>Category</label>
          <select ng-model="post.cat3" class="form-control">
            <option value="Suspense">Sociology Tomorrow!</option>
            <option value="Drama">A.I.Now</option>
            <option value="Romance">Musing Blockchain</option>
            <option value="NonFiction">Web Dev Affairs</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label>Date</label>
          <input type="text" class="form-control" ng-model="post.date" placeholder="Author">
        </div>
        <div class="form-group">
          <label>Post</label>
          <input type="text" class="form-control" ng-model="post.blogpost" placeholder="Blog Post">
        </div>
        <div class="form-group">
          <label>Citations</label>
          <input type="text" class="form-control" ng-model="post.blogcite" placeholder="Citations">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="post.description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label>Image URL</label>
          <input type="text" class="form-control" ng-model="post.image_url" placeholder="Image URL">
        </div> 
       
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>