<div ng-controller="dataViz as vm">


    <div class="row">
        <div class="col-md-6">
            <div kendo-chart
                 k-title="{text: 'Sales'}"
                 k-series="[ {name: 'Laptops',  data:[200,450,100,350]},
                               {name: 'Desktops', data:[100,300, 125, 200]}]"
                 k-category-axis="{categories: [2010, 2011, 2012, 2013]}">
            </div>
        </div>


        <div class="col-md-4">
            <div
                    kendo-chart
                    k-title="{text: 'Trend'}"
                    k-series='[
            {
                type: "scatterLine",
                name: "Mac Pro",
                data: [[10, 15], [20, 60], [30, 70]]
            },
            {
                type: "scatterLine",
                name: "MacBook Pro",
                data: [[10, 60], [25, 40], [30, 48]]
             }
             ]'
                    k-xAxis='{
            max: 1000
        }'
                    k-yAxis='{
            min: 80
        }'>
            </div>
        </div>

        <div class="row">

        <div class="col-md-4">
            <div kendo-chart
                 k-options="vm.ytdSalesChartOptions">
            </div>
        </div>

        <div class="col-md-6">
            <div kendo-chart
                 k-options="vm.salesChartOptions">
            </div>
        </div>

    </div>
</div>
