#marsreader  {
  color:lightsteelblue;
  padding:0px;
  text-align:justify;
}
h1,h2,h3,h4,h5,h6 {
  text-align:center;
}
#returnObject {
  color:aliceblue;
  overflow-x:hidden;
  overflow-y:visible;
}
#reqObject { 
  display:none;
}