
img.image {
  max-width: 75%;
  min-width: 40%;
  padding:5px 10px 2px;
  margin-top: 25px;
  margin-right: 10px;
}
.news {
 position:relative;
 left:10px;
}
mat-card-title {
  font-size:20px;
  line-height: 1.2rem;
  padding-bottom:8px;
  text-align:center;
}
mat-list-item a {
  cursor: pointer;
}
.mat-list-item {
  width:95%;
}
