
img.image {
  max-width: 75%;
  min-width: 40%;
  margin:25px 10px 2px;
  margin-right: 10px;
  border: rgb(37, 37, 252) 3px solid;
}
.news {
 position:relative;
 left:10px;
}
#abstract {
  padding:5px 0px;
}
mat-card-title {
  font-size:18px;
  line-height: 1.2rem;
  padding-bottom:8px;
  text-align:center;
}
mat-list-item a {
  cursor: pointer;
}
.mat-list-item {
  width:95%;
}
