
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input class="search" ng-model="$ctrl.query" />
      </p>

      <br />
      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          
            <option value="did">Most Recent</option>
          <option value="title">Title</option>
          <option value="cat3">Category</option>
        </select>
      </p>
<br />
    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="posts">
        <li ng-repeat="post in $ctrl.posts | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="thumbnail post-list-item">
          <div  class="thumb">
      <!--    <img ng-src="{{post.cat3}}" alt="{{post.cat3}}" />-->
      <h5  class=" center-text">{{post.cat3}}</h5>
           </div>
          <h6 href="/posts/{{post.id}}">{{post.date}}</h6> 
          <h5>
          <a href="/posts/{{post.id}}">{{post.title}}</a>
        </h5>
        </li>
      </ul>

    </div>
  </div>
</div>
