<hr class="bar-white" />
<h2><span class="daily-tech  title  monoton text-box">OUR DAILY TECH</span></h2>
<hr class="bar-white" />
 
<div class="tab-wrapper">
<mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedTabIndex">
  <mat-tab color="primary"  
  label="All Categories">
    <div class="temp">
      <mat-card *ngFor="let blog of blogs" (click)="viewBlog(blog.id)">
          <ul class="view-blog">
          <li>
            <span [innerHTML]="blog.cat3 | safeHtml" class="category"></span>
    
            <span class="date" [innerHTML]="blog.date | safeHtml"></span>
          </li>
          <h6 [innerHTML]="blog.title | safeHtml"></h6>
          <p class="blog-post" [innerHTML]="blog.post | safeHtml"></p>
          <p class="blog-post" [innerHTML]="blog.blogcite | safeHtml"></p>
         </ul> 
        </mat-card>
        <hr />
    </div>
  </mat-tab>

  <mat-tab color="primary" label="Web Dev Affairs" >
    <div class="temp">
      <ul *ngFor="let blog of blogsWeb" class="view-blog">
        <mat-card (click)="viewBlog(blog.id)">
          <li>
            <span [innerHTML]="blog.cat3 | safeHtml" class="category"></span>
         
          <span class="date" [innerHTML]="blog.date | safeHtml"></span>
        </li>
        <h6 [innerHTML]="blog.title | safeHtml"></h6>
        <p class="blog-post" [innerHTML]="blog.post | safeHtml"></p>
      </mat-card>
      </ul>
    </div>
  </mat-tab>

  <mat-tab color="primary" label="Musing Blockchain">
    <div class="temp">
      <ul *ngFor="let blog of blogsBlockchain" class="view-blog">
        <mat-card (click)="viewBlog(blog.id)">
          <li>
            <span [innerHTML]="blog.cat3 | safeHtml" class="category"></span>
       
          <span class="date" [innerHTML]="blog.date | safeHtml"></span>
        </li>
        <h6 [innerHTML]="blog.title | safeHtml"></h6>
        <p class="blog-post" [innerHTML]="blog.post | safeHtml"></p>
      </mat-card>
      </ul>
    </div>
  </mat-tab>

  <mat-tab color="primary" label="A.I.Now.">
    <div class="temp">
      <ul *ngFor="let blog of blogsAI" class="view-blog">
        <mat-card (click)="viewBlog(blog.id)">
          <li>
            <span [innerHTML]="blog.cat3 | safeHtml" class="category"></span>
        
          <span class="date" [innerHTML]="blog.date | safeHtml"></span>
          <hr class="bar-title" />
          <br />
        </li>
        <h6 [innerHTML]="blog.title | safeHtml"></h6>
        <p class="blog-post" [innerHTML]="blog.post | safeHtml"></p>
      </mat-card>
      </ul>
    </div>
  </mat-tab>

  <mat-tab color="primary" label="Sociology Tomorrow!">
    <div class="temp">
      <ul *ngFor="let blog of blogsSoc" class="view-blog">
        <mat-card (click)="viewBlog(blog.id)">
          <li>
            <span [innerHTML]="blog.cat3 | safeHtml" class="category"></span>
        
          <span class="date" [innerHTML]="blog.date | safeHtml"></span>
        </li>
        <h6 [innerHTML]="blog.title | safeHtml"></h6>
        <p class="blog-post" [innerHTML]="blog.post | safeHtml"></p>
      </mat-card>
      </ul>
    </div>
  </mat-tab>
  <mat-tab color="primary" label="Quantum Data">
    <div class="temp">
      <ul *ngFor="let blog of blogsQuantum" class="view-blog">
        <mat-card (click)="viewBlog(blog.id)">
          <li>
            <span [innerHTML]="blog.cat3 | safeHtml" class="category"></span>
      
          <span class="date" [innerHTML]="blog.date | safeHtml"></span>
        </li>
        <h6 [innerHTML]="blog.title | safeHtml"></h6>
        <p class="blog-post" [innerHTML]="blog.post | safeHtml"></p>
      </mat-card>
      </ul>
    </div>
  </mat-tab>
 
</mat-tab-group>
</div>


<div style="text-align: right; margin-bottom: 100px;">
  <button mat-stroked-button (click)="forceRefreshBlogs()" [disabled]="blogsLoading">
    <mat-icon>refresh</mat-icon> Refresh
  </button>
</div>
 
