<section class="signin-form">
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="handleBasicAuthLogin(f)">
  
    
      <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
      <div class="welcome alert" *ngIf='!invalidLogin'><h4>LOG IN</h4> </div>

      <mat-form-field>
        <input type="email" matInput placeholder="Username" ngModel name="username"   #emailInput="ngModel"> 
      </mat-form-field>
      <hr>

      <mat-form-field>
        <input type="password" matInput placeholder="Password" ngModel name="password" 
          #pwInput="ngModel">
        
      </mat-form-field>
      <hr>
      <button type="submit" mat-raised-button color="primary">Submit</button>


    </form>
</section>
 
 