
<div class="panel panel-default">
  <style>
  h3, h2, h1, p, a {
    color:white;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
  }
  </style>
  <div class="panel-heading">
    <h3 class="panel-title">Edit Post</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12"><a href="#/posts">Go Back</a>
      <form ng-submit="updatePost()" ng-init="getPost()">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="post.title" placeholder="Title">
        </div>
        <div class="form-group">
          <label>Cat3</label>
          <select ng-model="post.Cat3" class="form-control">
            <option value="Suspense">Sociology Tomorrow!</option>
            <option value="Drama">A.I.Now</option>
            <option value="Romance">Musing Blockchain</option>
            <option value="NonFiction">Web Dev Affairs</option>
            <option value="Other">Cloud Wars</option>
          </select>
        </div>
        <div class="form-group">
          <label>Author</label>
          <input type="text" class="form-control" ng-model="post.author" placeholder="Author">
        </div>
        <div class="form-group">
          <label>Blog Post</label>
          <input type="text" class="form-control" ng-model="post.blogpost" placeholder="Publisher">
        </div>
        <div class="form-group">
          <label>Blog Citation</label>
          <input type="text" class="form-control" ng-model="post.blogcite" placeholder="Pages">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="post.description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label>Image URL</label>
          <input type="text" class="form-control" ng-model="post.image_url" placeholder="Image URL">
        </div> 
       
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>