 
<div    ng-app="dTech">
    <div >
        <title>Daily Tech Post</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="app.css">
    
         
        <div id="headerWrapper" class="container" ng-controller="HeaderCtrl">
            <span class="logo pull-left">{{appDetails.title}}</span>
            <span class="tagline pull-left">{{appDetails.tagline}}</span>
            <div class="nav-wrapper pull-left">
                <ul class="nav nav-pills">
                    <li ng-class="{active: nav.isActive('/books')}"><a href="#/books">Daily Tech</a></li> 
                    <li ng-class="{active: nav.isActive('/post')}"><a href="#/post">Read Posts</a></li>
                </ul>
            </div>
        </div>
		
		<div ng-view class="container-fluid"></div>
    
    </div>
  </div>