
    <div class="collapse navbar-collapse   multi_drop_menu   menu" id="navbarResponsive">  
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item   ">
          <a class="nav-link" href="#/home">
            <span class=" subdailytech"> TECH
            <br />BLOG </span>
          </a>
        </li>   
        <li class="nav-item  ">
          <a class="nav-link" href="#/archives">
            <span class="subdailytech ">BLOG
              <br /> ARCHIVES </span>
          </a>
        </li> 
        
        <li class="nav-item active">
          <a class="nav-link" title="tmm FICTION" href="#/_For_Cat_Eyes_Only_">
            <span class="caret subdailytech">FOR_CAT
              <br />EYES_ONLY</span>
          </a>
          <ul style="z-index:0" class="menu-left">
            <li   >
           tmm FICTION 
              <a style="z-index:199; " title="tmm FICTION" href="#/_For_Cat_Eyes_Only_">For Cat Eyes Only:
                <i>Early Months of Win&#39;s Campaign</i>
              </a>
            </li>
            <li style="z-index:199; ">
              tmm FICTION 
              <a style="z-index:199; " title="tmm FICTION" href="#/_For_Cat_Eyes_Only_#capturing">Fiction Excerpts From:
                <br />
                <i>The Casperian Ancestries</i>
                <br />
                <small>Capturing One Cat&#39;s Past and Present</small>
              </a>
             tmm FICTION 
            </li>
          </ul>
        </li> 
        <li style="z-index:5" class="nav-item">
          <a class="nav-link">
            <span class=" subdailytech">CODING
              <br /> TOOLS
            </span>
          </a> 
          <ul id="ul">
          </ul> 
          <!--end UL-->


        </li>
      </ul>