<div ng-control="NavController">
 <style>
     
    nav.rightmenu * {
        text-align: left;
        font-family: 'monoton';
  
      }
  
      nav.rightmenu a:hover {
        font-weight: bold;
        color: darkslateblue;
      }
  
      nav.rightmenu {
        min-width:300px;
      }
      
    nav.rightmenu * {
        text-align: left;
        font-family: 'monoton';
  
      }
  
      nav.rightmenu a:hover {
        font-weight: bold;
        color: darkslateblue;
      }
  
      nav.rightmenu {
        min-width:300px;
      }
 </style>
<nav id="rightmenu" class="rightmenu  ">  
<a href="http://www.thomasmaestas.net/dice/index.html"  class="nav ">JS DICE GAME</a>  
<a href="http://www.thomasmaestas.net/dag-dagre/index.html"  target="_blank" class="nav ">DIRECTED ACYCLIC GRAPH TOOL</a> 
<br />
<a href="#/_For_Cat_Eyes_Only_"   class="nav ">_For_Cat_Eyes_Only_</a> 
  
</nav>  

<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
<link rel="stylesheet" type="text/css" href="dist/css/styles.css" />
<div id="bars" class="panel-body    map-img">

</div>
</div> 
</div> <!--END NAVECONTROL-->