
<div class="panel panel-default" ng-init="getPost()">
 
		<style>
      panel-title {
        background-color:blanchedalmond;
      } 
        div.col-md-4 {
          background-color:rgb(72, 72, 210);
        }
        div.lister p,li {
color:white;
        }
        
        
        </style>
         <a href="#/posts">Go Back </a><span class="pull-right">
           <a href="#/posts/edit/{{post._id}}">Edit</a> |  <a href="#" ng-click="removePost(post._id)">Delete</a></span> 
          
  <div class="panel-heading">
    <h3 class="panel-title">{{post.title}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src="{{post.image_url}}">
      </div>
      <div class="col-md-8 lister">
        </p>{{post.title}}</p>
        <ul  class="list-group">
          <li class="list-group-item">Tag: {{post.cat3}}</li>
          <li class="list-group-item">Author: {{post.date}}</li>
          <li class="list-group-item">Post: {{post.blogpost}}</li>
          <li class="list-group-item">Citations: {{post.blogcite}}</li>
        </ul>
   
      </div>
    </div>
  </div>
</div>
