<div class="panel panel-default" ng-init="getPosts()">
		 
  <div class="panel-heading">
			 
		<h1 class="panel-title title dailytech  ">OUR DAILY TECH 
		</h1>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="post in posts">
    		<div  id="row-posts" class="col-md-4">
    		 
    				<h6 class="repeat">{{post.title}}</h6>
    				<a class="btn btn-primary" href="#/posts/details/{{post._id}}">View Post</a>
    		 
    				<p class="repeat-cat"><small>{{post.cat3}}</small></p>
    			<div class="col-md-4" class="thumb">
    	<!-- 	<img class="thumbnail" src="{{post.image_url}}"> -->
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>