<div class="panel panel-default" ng-init="getPosts()">
		<style>
		h3, h2, h1,   a {
			color:lightsteelblue;
 
		}
		div.panel-body {
			color:white;
		}
		div.col-md-4 > p,h3,h4 {
			min-height:25px;
		}
		.thumb {
			max-width:30px;
		}
		.repeat {
			height:60px;
		}
		.repeat-cat {
			height:30px;
		}
		.btn {
			opacity:.7; 
		}
		</style>
  <div class="panel-heading">
			<a class="navbar-brand bg-blue" title="thomasmaestas.net" href="http://www.thomasmaestas.net">
        <img alt="tmm logo" id="bluelogo" src="dist/img/TMMblueTrans.png" /> </a>
    <h3 class="panel-title dailytech ">Daily Tech Archives</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="post in posts">
    		<div class="col-md-4">
    		 
    				<h6 class="repeat">{{post.title}}</h6>
    				<a class="btn btn-primary" href="#/posts/details/{{post._id}}">View Post</a>
    		 
    				<p class="repeat-cat"><small>{{post.cat3}}</small></p>
    			<div class="col-md-4" class="thumb">
    	<!-- 	<img class="thumbnail" src="{{post.image_url}}"> -->
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>