<div class="menu">
  <footer>
  <p>
    &copy; {{ copyright }} &nbsp;
    <a
      class="footer-text"
      href="http://thomasmaestas.net"
      target="_blank"
      title="Contact Information: thomasmaestas.net/"
    >
      thomasmaestas.net</a
    >&nbsp;  &nbsp;

    <a title="github" href="https://github.com/thomasm1" target="_blank">
      <i class="fa fa-github"></i>
    </a>&nbsp;  &nbsp;


    <a title="twitter" href="https://twitter.com/ThomasMaestas" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>&nbsp;   &nbsp;


    <a
      title="facebook"
      href="https://www.facebook.com/thomasm1.maestas"
      target="_blank"
    >
      <i class="fa fa-facebook"></i>
    </a>&nbsp;  &nbsp;


    <a
      title="linkedin"
      href="https://linkedin.com/in/thomasmaestas"
      target="_blank"
    >
      <i class="fa fa-linkedin"></i>
    </a>

  </p>
</footer>
</div>
