<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="logo-box">
        <a routerLink="/blogs">
            <img class="logo" alt="DailyTech Logo" src="assets/blueColorTriomphe.png" />
        </a>
    </div>
    <h3>
        <span class=" daily-title monoton text-box">OUR DAILY TECH</span>
    </h3>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li>
                <a routerLink="/blogs" class="nav-link">POSTS</a>
            </li>
            <li>
                <a *ngIf="!authService.isAdminLoggedIn()" routerLink="/login" class="nav-link">SIGN ON</a>
            </li>
            <li>
                <a *ngIf="authService.isAdminLoggedIn()" routerLink="/admin/posts" class="nav-link">EDIT</a>
            </li>
            <li>
                <a *ngIf="authService.isAdminLoggedIn()" routerLink="/" (click)="authService.logout()"
                    class="nav-link">SIGN OUT</a>
            </li>
            <li>
                <a *ngIf="!authService.isAdminLoggedIn()" routerLink="/register" class="nav-link">REGISTER</a>
            </li>
        </ul>
    </div>
</mat-toolbar>



    <!-- <div class="toolbar" role="banner">
<div class="logo-box">
        <a routerLink="/blogs" class="nav-link">
            <img class="logo" alt="DailyTech Logo" src="assets/blueColorTriomphe.png" />
        </a>
    </div> -->
    <!-- <div>
        <h3>
            <span class=" daily-title monoton text-box">OUR DAILY TECH</span>
        </h3>
    </div>
    <div class="spacer"></div> -->
<!-- 
    <header>
        <nav class="navbar navbar-expand-md navbar-dark ">
            <div>

                <ul class="navbar-nav navbar-collapse justify-content-end"> -->
                    <!-- <li>
                        <a routerLink="/blogs" class="nav-link">POSTS</a>
                    </li>
                    <li>
                        <a *ngIf="!authService.isAdminLoggedIn()" routerLink="/login" class="nav-link">SIGN ON</a>  
                    </li>
                    <li> 
                        <a *ngIf="authService.isAdminLoggedIn()" routerLink="/admin/posts" class="nav-link">EDIT</a>
                    </li>
                    <li>
                        <a *ngIf="authService.isAdminLoggedIn()" routerLink="/" (click)="authService.logout()"
                            class="nav-link">SIGN OUT</a>
                    </li>
                    <li>
                       <a *ngIf="!authService.isAdminLoggedIn()" routerLink="/register" class="nav-link">REGISTER</a>
                    </li> -->
                <!-- </ul>
            </div>
        </nav>
    </header>

</div> -->