<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="logo-box">
        <a routerLink="/blogs">
            <img class="logo" alt="DailyTech Logo" src="assets/blueColorTriomphe.png" />
        </a>
    </div>
 
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
           <li>
                <a routerLink="/writing" class="nav-link daily-tech monoton">WRITE!</a>
            </li>

            <li>
                <a *ngIf="authService.isAdminLoggedIn()" routerLink="/admin/user" class="nav-link daily-tech monoton">ADMIN CONSOLE</a>
            </li> 
           
            <li>
                <a routerLink="/blogs" class="nav-link daily-tech monoton">POSTS</a>
            </li>

            <li>
                <a *ngIf="!authService.isAdminLoggedIn() && !isAuth" routerLink="/login" class="nav-link  daily-tech monoton">LOGIN</a>
            </li>
        
            <li>
                <a *ngIf="authService.isAdminLoggedIn() || isAuth" routerLink="/" (click)="onLogout();authService.logout()"
                    class="nav-link daily-tech monoton">SIGN OUT</a>
            </li>
            <!-- <li>
                <a *ngIf="!authService.isAdminLoggedIn()" routerLink="/register" class="nav-link">REGISTER</a>
            </li> -->
        </ul>
    </div>
</mat-toolbar>

 