.centered-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.centered-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gap-25 {
  gap: 25px;
}

.server-button {
    min-width:220px;
}
.form
{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .full-width {
    width: 100%;
  }
  mat-app-background {
    background-color: #f5f5f5;
  }
  input {

    background-color: aliceblue;
  }
.border {
    margin: 0;
    border:solid black 1px;
    background-color: aliceblue;
  } 