<h5>Add new Console Servers or blueprints</h5>
<div class="row">
  <div class="col-xs-12"> 
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
      <div fxLayout="column" fxLayoutAlign=" center center" style="width:220px;">
        <!--<input type="text" class="form-control" [(ngModel)]="newServerName">-->
<form class="form">
  
<mat-form-field class="address full-width">
  <mat-label label><strong>Name it!</strong></mat-label>
  <input matInput  type="text" color="primary" class="form-control" #serverNameInput>
  <!--<input type="text" class="form-control" [(ngModel)]="newServerContent">-->
</mat-form-field>

<mat-form-field class="address full-width">
<mat-label><strong>New chain? Address</strong></mat-label>
<input matInput type="text" placeholder="Address" class="form-control" #serverContentInput>
</mat-form-field>

</form>
 
        <button mat-raised-button  class="server-button"  color="primary" (click)="onAddServer(serverNameInput)">Add Polygon Server</button>
        <button mat-raised-button  class="server-button"  color="primary" (click)="onAddBlueprint(serverContentInput)">Add Polygon Server
          Blueprint</button>
      </div>
      <!-- end fxlayout column -->
    </div>
    <!-- </form> -->
  </div>
</div>