.centered-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-40 {
  width: 40%;
}

mat-table {
  min-height:500px;
}
.post {
 width:40%;
 min-width:500px;
 margin:0 5px;
}

.did,wordCount {
  width:10%;
  min-width:70px;
  max-width:100px;
 }
 
 
.post {
  width:40%;
 }
 