
<hr class="bar-white" />
<h2><span class="daily-tech monoton text-box">NEWS &nbsp; - &nbsp; {{ selectedSection | pipeCapitalizeCategory }}</span></h2>
<hr class="bar-white"/>
<div class="news">
  <div
    gdAreas="header header | side content"
    gdColumns="150px calc(90vw - 150px)"
    gdGap="8px"
    gdAreas.lt-md="header | menu | content"
    gdRows.lt-md="auto auto auto auto"
    
  >
    <!-- <div gdArea="header">
        <div >
            <h3>{{selectedSection | pipeCapitalizeCategory }}</h3>
        </div>
    </div> -->
    <div gdArea="menu">
      <button mat-raised-button color="primary" class="mat-elevation-z10 view-sections" 
      [matMenuTriggerFor]="appMenu">View All News Sections</button>

   <!-- TODO: GET NYT SEARCH API KEY -->
    
      <!-- <button mat-raised-button color="accent" class="mat-elevation-z10 view-sections" routerLink="/search">
        Open Article Search
      </button> -->

      <mat-menu #appMenu="matMenu">
        <button
          mat-menu-item
          *ngFor="let s of sections"
          (click)="selectedSection = s; getArticles()"
        >
          {{ s | pipeCapitalizeCategory }}
        </button>
      </mat-menu>
    </div>
    <div class = "sideside" gdArea="side">
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let s of sections">
          <a
            class="sidebar-links"
            (click)="selectedSection = s; getArticles()"
            >{{ s | pipeCapitalizeCategory }}</a
          >
        </mat-list-item>
      </mat-list>
    </div>
    <div class="news-content" *ngIf="results" gdArea="content">
      <mat-spinner *ngIf="newsLoading" class="centerSpinner"></mat-spinner>
      <mat-card *ngFor="let r of results">
        <mat-card-title class="article-title">
          {{ r.title }}
        </mat-card-title>
        <mat-card-subtitle>
          <small class="published-date">{{
            r.published_date | date: "full"
          }}</small>
          <!-- <mat-list-item *ngIf='r.byline'><small>{{ r.byline }}</small></mat-list-item> -->
        </mat-card-subtitle>
        <mat-card-content>
          <p id="abstract" class="article-abstract">{{ r.abstract }}</p>
          <a href="{{ r.url }}" target="_blank"
            ><img
              *ngIf="r.bestImage?.url"
              [src]="r.bestImage?.url"
              [alt]="r.bestImage?.caption || r.title"
              class="image"
            />
          </a>
        </mat-card-content>
        <hr /> 
      </mat-card>
    </div>
  </div>
</div>
