<section class="register-form">
    <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm">
        <!--(ngSubmit)="handleBasicAuthLogin()"-->
        <mat-form-field>
            <input 
            type="email" 
            matInput 
            placeholder="email/username" 
            ngModel 
            name="email" 
            required
            #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
            <mat-error  *ngIf="!emailInput.hasError('required')">E-Mail is invalid</mat-error>
        </mat-form-field>
<hr>
        <mat-form-field hintLabel="Should be at least 6 characters long">
            <input 
            type="password" 
            matInput 
            placeholder="password" 
            ngModel name="password" 
            required 
            minlength="6"
            #pwInput="ngModel">
            <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
            <mat-error *ngIf="pwInput.hasError('required')">Field must not be empty</mat-error> 
        </mat-form-field>
<hr>
        <button type="submit" mat-raised-button color="primary">Submit</button>

        <!-- <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
        <div class="welcome alert  " *ngIf='!invalidLogin'><i>Welcome </i>{{username}}!</div> -->

        
    </form>
</section>