@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css);
@import url('https://fonts.googleapis.com/css?family=Monoton:100,200,300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,600,600i,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
/* ANGULAR  MATERIAL */
// @import '@angular/material/prebuilt-themes/indigo-pink.css';  
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
      // Defined in daily-theme.scss ....old  angular.json
      // "styles": [ "./node_modules/@angular/material/prebuilt-themes/indigo-pink.css", "src/styles.scss" ],

$color-primary-text:  rgb(19, 1, 179);
$color-secondary-text: darken($color-primary-text, 25%);

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    background-color: #1976d2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
    text-align: center;
    color:rgb(17, 122, 192);
}

li {
    list-style: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #1976d2;

    &:visited {
        color: #1976d2;
    }

    &:hover {
        color: #125699;
    }
}

/* CUSTOM */

.daily-tech {
    color:$color-primary-text;
}

a.daily-tech,
a:visited.daily-tech {
    color: $color-primary-text;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
}

a:hover.daily-tech {
    color: $color-secondary-text;
}

.monoton {
    font-family: Monoton;
}

.btn-gray {
    background-color: rgba(255, 255, 255, 0.363);
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 2px;
    min-width: 110px;
}

hr.bar-white {
  background: rgb(195, 196, 255);
  max-width: 60%;
  margin: 30px auto;
}

.centerSpinner {
  margin:10% auto;
}

.zoom {
   width: 100%;
}
 .zoom:hover {
  width: 700px;
  transition: transform .8s;
}
/*  BLOG LIST & MODAL ************** *****************/

.category {
  font-size:1rem;
  color:  rgba(19, 1, 179, .8);
  padding-right:15px;
}
.date {
float:right;
font-size:.9rem;
color:  rgba(19, 1, 179, .8);
}
.btnModal {
margin:0 4px;
color:  rgba(19, 1, 179, .8);
}
.btnCat {
  margin-right:20px;
}
hr.bar-title {
margin: 2px 0 1px;
display:block;

}
.blog-title {
  color:rgb(85, 85, 85);
}

.blog-top {
  background:rgba(190, 200, 255, 0.9);
  padding:5px;
  border-radius:5px;
}

mat-dialog-container.mat-dialog-container {
  background:rgba(190, 200, 255, 0.8);
}

/* BLOG & BLOG-CATEGORY PAGE ************ *******/
.outer-div {
  min-height:800px;

}
.inner-div {
  max-width:80%;
  width:600px;
  margin-right:auto;
  margin-left:auto;
  padding:20px;
  background:whitesmoke;
}
.bar-blogs {
  margin:10px 0;
}
/*  mainblog Legacy CONTENT  ************************/

#blogs {
    cursor: pointer;
    padding: 0px;
}

.blog {
    float: left;
    min-height: 500px;
    max-height: 500px;
    width: 100%;
    border: inset 2px silver;
    background-color: white;
    padding: 0px;
    margin: 0px;

    & h2, h3 {
        text-shadow: 3px 3px 3px #aaa;
        font-size: 1em;
        padding: 3px 4px 3px 4px;
        margin-bottom: 5px;
    }

    & p {
        line-height: 1.2em;
    }
}

.mod-behave {
    text-align: justify;
    padding: 2%;
    margin: 2%;
    max-height: 800px;
    color: darkslategray;
    background-color: rgb(206, 229, 248);
    overflow-y: scroll;
}

.longtitle * {
    margin-top: 20px;
}

.title {
    color: darkblue;
    text-align: center;
    font-size: 105%;
    margin-top: 10px;
}

.featured {
    font-weight: 300;
}

#headerquote {
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(212, 229, 250);
    line-height: 1.1rem;
    overflow-y: hidden;

    & > .mb-4 {
        line-height: 2rem;
    }
}

.author {
    font-size: 125%;
    text-align: center;
    color: slategray;
    border-bottom: 1px solid black;
    padding-bottom: 12pt;
    margin-left: 30pt;
    margin-right: 30pt;
}

.chapternumber {
    margin: 4px 0px 8px;
    color: blue;
}

.dailytitle {
    text-align: left;
    color: darkslategray;
    font-family: 'Roboto';
    padding: 3px 0px;
    margin: 5px 0px 5px;
}

h6.dailytitle {
    text-align: center;
    font-weight: 600;

    &.chapternumber {
        margin-bottom: 5px;
        padding-bottom: 10px;
        line-height: 1.2rem;
    }
}

i {
    font-weight: 500;
}

strong {
    font-weight: 700;
}

.chaptertitle {
    margin-left: 30pt;
}

/* Enlarge the first letter of a paragraph
.fourthp:first-letter {
    font-size: 200%;
    float: left;
    line-height: 1;
  }*/
  p.blog-post {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p.blog-post {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p.firstparagraph {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p.firstparagraph {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  p.blog-post::after {
      content: " ... ";
         
  }
  .blog-post::after { 
    content: " ... ";
  }
 
p.firstparagraph::after {  
    content: " ... ";
}

.firstparagraph::first-letter {
    font-size: 200%;
    font-weight: bold;
    border: solid thin darkslategrey;
    padding: 4pt;
    margin: 5px 4px 0px 0px;
}
p.blog-post {
    text-overflow: clip;
    text-overflow: ellipsis ellipsis;
    text-overflow: ellipsis " [..]";
    
    /* Global values */
    text-overflow: inherit;
    text-overflow: initial;
    text-overflow: revert;
    text-overflow: unset;
  }
  .blog-post {
    text-overflow: clip;
    text-overflow: ellipsis ellipsis;
    text-overflow: ellipsis " [..]";
    
    /* Global values */
    text-overflow: inherit;
    text-overflow: initial;
    text-overflow: revert;
    text-overflow: unset;
  }
 
p.firstparagraph {
    text-overflow: clip;
    text-overflow: ellipsis ellipsis;
    text-overflow: ellipsis " [..]";
    
    /* Global values */
    text-overflow: inherit;
    text-overflow: initial;
    text-overflow: revert;
    text-overflow: unset;
 
}

.firstp::first-letter {
    font-size: 200%;
    font-weight: bold;
    border: solid thin white;
    padding: 4pt;
    margin: 5px 4px 0px 0px;
}

img {
    &.rounded-circle {
        opacity: 1;
    }

    &#tom {
        opacity: 1;
        background-color: white;
    }
}

a.trans-back {
    background-color: blue;
}

.quote {
    margin: 0px 20px 10px 20px;
    line-height: 1.2rem;
    font-weight: 500;
}

.quotelong {
    margin: 0px  0px 10px 20px;
    line-height: 1.2rem;
    font-weight: 500;
}

.footnotes {
    margin-top: 30px;
    text-align: left;
}

.dailytech {
    padding-top: 3%;
    padding-bottom: 2%;
    font-family: 'Monoton';
    font-weight: 100;
    font-size: 1.5rem;
    font-family: 'Monoton';
}

.subdailytech {
    font-family: 'Monoton';
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 1.3rem;
    text-align: center;
    color: darkblue;
    font-family: 'Monoton';
}

#tom {
    opacity: 1;
}

.border {
    border: 1px solid white;
}
