.centered-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.centered-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-text {
  text-align: center;
}

.nft {
    border: 1px solid burlywood;
    padding: 10px;
    margin: 10px;
    max-width: 280px;
  }
  img {
    max-width:240px;
  }
  