.centered-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.blog-box {
  margin: 10 0;
    max-height:500px;
  overflow-y: scroll;
  background:rgb(245, 235, 255);
}
 
