 

.card {
    box-shadow: 0px 10px 50px 0px  rgba(34, 6, 105, 0.8) !important; 
}
div#tech {
    box-shadow: 0px 10px 50px 0px rgba(34, 6, 105, 0.8) !important; 
}
#thomasm {
    padding: 5px 10px;
}

 
div.col-lg-3 {
    background-color: #00d9f9;
}

.highlight {
    background-color: #fff;
    border-color: #232fa9;
}

/* general overrides */

.list-group-item.glyphicon {
    line-height: 1.1;
}

.list-group-item .glyphicon {
    line-height: 1.4;
}

li.map2.media.list-group-item.p-4 {
    background-color: blue;
    background-image: url('img/MaestasReykjavikBanner.jpg');
    padding-top: 0px;
    min-height: 1400px;
    border-radius: 0px;
    border: 0px solid red;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}
.modal-header .close {
    margin-top: 4px;
}

strong {
    font-weight: bold;
}

.alert {
    display: none;
}

/*
  adjusting headline bg color
   */

.bg-primary.app-navbar {
    background-color: rgba(0, 176, 236, .5) !important;
}

.tmm {
    opacity: .9;
}

img.media-object {
    max-width: 110%;
}

.navbar.navbar-toggleable-sm-fixed-top { 
    background-color: #00b0ec !important;
}
 
.fixed-top {
    opacity: .9;
}

#text {
    display: none;
}

.main {
    max-width: 40%;
    min-width: 40%;
    opacity: .75;
}

#about ul {
    text-align: left;
}

#about ul li {
    text-align: left;
}

.media-object.d-flex.aligh-self-start.mr-3 {
    background-image: url('img/TMMblueTrans.png');
    max-width: 30px;
}

/* misc */

.app-login-form {
    max-width: 280px;
    margin-top: -60px;
}

.app-new-msg {
    margin-right: 10px;
}

.app-brand {
    width: 40%;
    display: inline-block;
}

.app-brand img {
    width: 100%;
}

#search {
    margin-left: 10px;
    margin-top: -10px;
    margin-right: 10px;
    color: yellow;
    background-color: #0f85d4;
    opacity: .9;
}

/* general overrides */

div#userModal.modal.fade {
    display: none;
}

.modal-header .close {
    margin-top: 4px;
}

div#userModal.modal.fade {
    display: none;
}

/*

  adjusting headline bg color

   */

.bg-primary {
    background-color: #6aa0e6 !important;
    background-color: #00b0ec;
}

.tmm {
    opacity: 1;
    width: 230px;
}

/* profilepic*/

img.rounded-circle.profile {
    min-height: 90px;
    min-width: 90px;
    max-width: 110px;
}
 
/* welcome and text*/


img {
   margin:5px;
   vertical-align: middle;

}

div.card-block#cal {
   padding-top: 10px;
   margin-left: auto;
   margin-right: auto;
   background-color: transparent;
   opacity: .9;
}

.card-block.mb-3 {
    margin-top: 20px;
    color: white;
}

.card-block {
    padding:1.0rem;
}
.card-title {
    font-size: 1.2em;
}

div.card.card-link-link {
    min-width: 100%;
}

div.card-block#footer {
    min-width: 100%;
    opacity:.8;
    color: white;
    min-width: 100%;
    background-color: #3097D1 !important;
    text-align: center;
    border-radius: 0px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

div.card-block#footer a {
    color: blue;
}

.card.card-link-list#footer a {
    color: white;
}

.card.card-link-list#footer a:hover {
    color: blue;
}

.card.card-link-list#footer a:active {
    color: #00d5f6;
    background-color: teal;
} 
div.card-header {
    background-color: #00b0ec;
    background-image: url('img/MaestasReykjavikBanner.jpg');
    padding-top: 10px;
    min-height: 230px;
    border: 0px solid red;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    font-size: 1.2em;
}
 

div.col-lg-6 {
    background-color: transparent;
}

div.col-lg-3 {
    background: transparent;
}
 

li.card-menu-item {
    padding: 0px;
    margin: 0px;
    line-height: 90%;
    list-style-type: none;
}

div.card-block img {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    border: 0px solid blue;
    background-color: #00b0ec;
    font-weight: 800;
}

div.card-block.text-center a {
    background-color: #00b0ec;
    color: blue;
    background-image: url('img/MaestasReykjavikBanner.jpg');
}

div.card-block.text-center {
    background-color: #00b0ec;
    background-image: url('img/MaestasReykjavikBanner.jpg');
    box-shadow: 0px 10px 50px transparent;
    font-weight: 800;
}
div.card-block#right-col {
    min-height: 200px;
}
/* SECTION blocks 2, 3 */

#center-col {
    background-color: #00b0ec;
    background-image: url('img/MaestasReykjavikBanner.jpg');
    padding-top: 0px;
    min-height: 180px;
    border-radius: 0px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3); 
    height:75%;
    }


/*  SECTION misc */

.app-login-form {
    max-width: 280px;
    margin-top: -60px;
}

.app-new-msg {
    margin-right: 10px;
}

.app-brand {
    width: 40%;
    display: inline-block;
}

.app-brand img {
    width: 100%;
}


/* SECTION visual */

/*SECTION functional addition */

.map {
    max-width: 100%;
}

.center {
    text-align: center;
}

.rightalign {
    text-align: right;
    color: #59f3ff;
    margin-right: 0px;
    margin-bottom: 5px;
}

/*                  TO BE CLASSIFIED !!! */

.center {
    text-align: center;
}

.dropdown-toggle * {
    z-index: 1000;
    opacity: 1;
    color: darkblue; 
    font-size:1.1rem;
    }  
.left {
    text-align: left;
}

#febarchive {
    margin-top: 33px;
}

 
#bluelogo {
    background-color: rgb(20, 200, 212);  
 
    height:35px;
    width:55px;
}


ul.dailytech.archive {
    color:lightskyblue;
}


h3.panel-title.dailytech   {
    color:rgba(102, 209, 244, 0.753);}

img#moonscape {
    max-width: 100%
}

/* SECTION UTILITIES */
div.mod-behave button {
     width:60px;
}
 
 
   h5 > button {
    font-family: monoton !important;
    cursor:pointer;
    margin: 0px;   
    background-color:transparent;
    color:white;
    border:none;
    text-transform: uppercase;
   padding-top:10px;
}
h5 > button:hover {
    color:lightblue;
    border:solid .4px silver;
}
#toggler {
  background-color:rgb(0, 176, 236);
  cursor:pointer; 
    border: 1px solid yellow;
    padding: 15px;
    text-align: left;
}
#toggler:hover {
    border:blue;
}
#toggler:visited {
    border:white;
}
.zoom {
    float:right;
width:350px;
max-width:100%;
margin-left:5px;
    transition: transform .8s;
    /* Animation */
}
.imgcol {
    padding:0px;
    margin:0px;
}
ul.imgcol {
    max-height:350px;
    overflow-y:scroll;
} 
.zoom:hover {

    max-width:100%;
    transform: scale(1.5); 
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.twython {
    z-index:140; 
    max-height:350px; 
    margin-left:auto;
margin-right:auto;}
.zoom4 {
    float:left;
padding:0px;
 margin:5px; 

 width:100%;
max-width:100%;
    transition: transform 2s;
    /* Animation */
}

.zoom4:hover {
    z-index:111;
    transform: scale(2); 
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.hidden {
    display: none;
}

.opaque {
    opacity: .8;
}

.smalltech {
    font-size: 1.3rem !important;
    color: purple;
}
#apod_explaination {
max-height:350px;
padding:1%; 
overflow-y:scroll;
background-color:rgba(4, 142, 196, 0.459);
}
h2.title {
    color:aliceblue;
}
div.media-body.thesis {
    max-height:470px;
} 
 
.hover:hover {
  color:rgba(59, 41, 156, 0.603);
}



  .container {
min-height:1000px;
  background-image:url("img/bluechipTileT8.png");
  }
  div.panel-heading {
border:none;
  background-image:url("img/bluechiptile.jpg")
  }
  .panel-body {
    height:200px;
    background-color:rgba(118, 77, 168, 0.507); 
    background-image:url("img/bluechiptile.jpg")
  }

div.panel-body {
    border:none;  
        color:white;
    }
.panel-title {
  background-color:lightsteelblue;
  background-image:url("wellsfar/bluechipTileT8.png");
}


.view {
  border:solid transparent 1px; 
}
label {
  color:lightsteelblue;
}

/* main*/
#view {
padding-top:80px;
} 
 
.card-profile-img {  
   border: none; 
min-width: 75px;
max-width: 75px;
min-height:75px;
max-height: 75px;
}
div.card.card-profile  {
    background-color: #00b0ec;
    background-image: url('img/MaestasReykjavikBanner.jpg');  
    height:100%;
}
div.card.card-profile.mb-4 {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}
 


div.card.mb-4 {
    height:100%;
}
p.mb-4 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
.mb-4 {
    font-weight: 300;
    list-style-type: none;
    text-align: center;
    color: white;
    border: 0px solid red;
    box-shadow: 0px 10px 50px silver;
    background-color: blue;
    background-image: url('img/MaestasReykjavikBanner.jpg');
    border-radius: 0px;
    border: 0px solid red;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.mb-4 a {
    color: blue;
    text-align: center;
}

 p.mb4card {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

.mb4card {
    font-weight: 300;
    list-style-type: none;
    text-align: center;
    color: white;
    border: 0px solid red;
    box-shadow: 0px 10px 50px silver;
    background-color: rgba(0, 0, 200, .5);
    background-image: url('../img/MaestasReykjavikBanner.jpg');
    border-radius: 0px;
    border: 0px solid red;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.mb4card a {
    color: blue;
    text-align: center;
}

 .opacity5 {
     opacity: .3;
     transform: translateY(-50px);
     margin-bottom: -50px;
 }
 .green {
     color:green;
 }
 //ie fitbit blog apr
.side {
    text-align:justify;  
    color:darkgreen;
    padding-left:15px !important;
    margin-left:15px;
} 
 .archive button{

    width:100%;
} 
.archive { list-style-type:none;
  li { padding-bottom:4px;
}}

.new {
    color:rgb(56, 56, 173);
}	
h3, h2, h1,   a {
    color:lightsteelblue;

}

div.col-md-4 > p,h3,h4 {
    min-height:25px;
} 

/* POSTS */
div.row#row-posts {
    overflow:scroll;
}
/* social media icons */
#media li a  { 
    background-color:transparent; 
    opacity:.7;  
}   

  
.ourdailytechblog  { 
    width:200px;
   max-height:90px; 
    font-size:1.02em;
    font-family:Monoton;
    background-color:transparent;
    background-image: url('../img/RBTriomphe.png');
  }
   
  h3#blogs {
      pointer:inherit;
  }