/*
 * Application level styles
 * (things that dont make sense in a toolkit :)
 * copyright @colossal 2015
 */

/* docs overrides */

/* july 23 final merge */

/*   overrides */
#blogs {
    cursor:pointer;
    padding:0px;
}
#thomasm {
    padding: 5px 10px;
}

#divContainer {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

div.col-lg-3 {
    background-color: #00d9f9;
}

.highlight {
    background-color: #fff;
    border-color: #232fa9;
}

/* general overrides */

.list-group-item.glyphicon {
    line-height: 1.1;
}

.modal-header .close {
    margin-top: 4px;
}

strong {
    font-weight: bold;
}

.alert {
    display: none;
}

/*
  adjusting headline bg color
   */

.bg-primary.app-navbar {
    background-color: rgba(0, 176, 236, .5) !important;
}

.tmm {
    opacity: .9;
}

img.media-object {
    max-width: 110%;
}

.navbar.navbar-toggleable-sm-fixed-top {
    background-color: #24abe9;
    background-color: #00b0ec !important;
}

#navbarResponsive ul {}

#text {
    display: none;
}

.main {
    max-width: 40%;
    min-width: 40%;
    opacity: .75;
}

#about ul {
    text-align: left;
}

#about ul li {
    text-align: left;
}

/* navbar */

.app-navbar {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.app-navbar .form-control {
    box-shadow: none;
}

.app-navbar .navbar-brand img {
    width: 85px;
}

.app-navbar .navbar-collapse {
    max-height: inherit;
}

.app-navbar .navbar-collapse:after {
    height: 100vh;
}

.app-navbar .form-control {
    border-color: #1C73A5;
}

.app-navbar .app-notifications {
    margin-left: 1rem;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}

.app-notifications .icon:before {
    font-size: 20px;
}

@media (min-width: 768px) {
    .app-navbar .navbar-collapse:after {
        height: auto;
    }
}

@media (max-width: 768px) {
    .app-search {
        margin-top: -1px;
    }
}

@media (max-width:768) {
    .map {
        max-width: 50%;
        border: solid .5px white;
    }
}

.media-object.d-flex.aligh-self-start.mr-3 {
    background-image: url('../img/TMMblueTrans.png');
    max-width: 30px;
}

/* misc */

.app-login-form {
    max-width: 280px;
    margin-top: -60px;
}

.app-new-msg {
    margin-right: 10px;
}

.app-brand {
    width: 40%;
    display: inline-block;
}

.app-brand img {
    width: 100%;
}

#search {
    margin-left: 10px;
    margin-top: -10px;
    margin-right: 10px;
    color: yellow;
    background-color: #0f85d4;
    opacity: .9;
}

/* general overrides */

.list-group-item .glyphicon {
    line-height: 1.4;
}

div#userModal.modal.fade {
    display: none;
}

.modal-header .close {
    margin-top: 4px;
}

div#userModal.modal.fade {
    display: none;
}

strong {
    font-weight: bold;
}

/*

  adjusting headline bg color

   */

.bg-primary {
    background-color: #6aa0e6 !important;
    background-color: #00b0ec;
}

nav#divContainer {
    background-color: #00b0ec;
}

.tmm {
    opacity: 1;
    width: 230px;
}

/* profilepic*/

img.rounded-circle.profile {
    min-height: 90px;
    min-width: 90px;
    max-width: 110px;
}

li.nav-item.ml-2 {
    position: relative;
}

.ml-2 {
    list-style-type: none;
    margin-top: 0px;
    margin-right: 10px;
}

/* welcome and text*/


.card-profile-img { 
    width: 40px;
   height: 40px; 
   border: none;
} 
.card-profile-img {
horizontal-align:middle;
min-width:100px;
max-width: 100px;
min-height:100px;
max-height: 100px;
}
img {
   vertical-align: middle;

}

div.card-block#cal {
   padding-top: 10px;
   margin-left: auto;
   margin-right: auto;
   background-color: transparent;
   opacity: .9;
}

.card-block.mb-3 {
    margin-top: 20px;
    color: white;
}

/*   mb-4           1   to mb4card */

p.mb-4 {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

div.card.card-profile.mb-4#div5 {
    background-color: #00b0ec;
    background-image: url('../img/MaestasReykjavikBanner.jpg');
}

div.card.card-profile.mb-4 {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.mb-top {
    padding-top: 80px;
}

.mb-4 {
    font-weight: 300;
    list-style-type: none;
    text-align: center;
    color: white;
    border: 0px solid red;
    box-shadow: 0px 10px 50px silver;
    background-color: blue;
    background-image: url('../img/MaestasReykjavikBanner.jpg');
    border-radius: 0px;
    border: 0px solid red;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.mb-4 a {
    color: blue;
    text-align: center;
}
.card-block {
    padding:1.0rem;
}
.card-title {
    font-size: 1.2em;
}

div.card.card-link-link {
    min-width: 100%;
}

div.card-block#footer {
    min-width: 100%;
    opacity:.8;
    color: white;
    min-width: 100%;
    background-color: #3097D1 !important;
    text-align: center;
    border-radius: 0px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

div.card-block#footer a {
    color: blue;
}

.card.card-link-list#footer a {
    color: white;
}

.card.card-link-list#footer a:hover {
    color: blue;
}

.card.card-link-list#footer a:active {
    color: #00d5f6;
    background-color: teal;
}

div.card.card-link-list {
    border: solid 0px transparent;
}

#div5 {
    overflow: hidden;
}

div.card-header {
    background-color: #00b0ec;
    background-image: url('../img/MaestasReykjavikBanner.jpg');
    padding-top: 20px;
    min-height: 230px;
    border: 0px solid red;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    font-size: 1.2em;
}
 

div.col-lg-6 {
    background-color: transparent;
}

div.col-lg-3 {
    background: transparent;
}

/* blocks 2, 3 */ 

div.card-header {
    min-height: 520px;
    background-color: #00b0ec;
}

li.card-menu-item {
    padding: 0px;
    margin: 0px;
    line-height: 90%;
    list-style-type: none;
}

div.card-block img {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    border: 0px solid blue;
    background-color: #00b0ec;
    font-weight: 800;
}

div.card-block.text-center a {
    background-color: #00b0ec;
    color: blue;
    background-image: url('../img/MaestasReykjavikBanner.jpg');
}

div.card-block.text-center {
    background-color: #00b0ec;
    background-image: url('../img/MaestasReykjavikBanner.jpg');
    box-shadow: 0px 10px 50px transparent;
    font-weight: 800;
}
div.card-block#right-col {
    min-height: 200px;
}

div.card.mb-4 {
    min-height: 700px;
}
/* SECTION blocks 2, 3 */

#center-col {
    background-color: #00b0ec;
    background-image: url('../img/MaestasReykjavikBanner.jpg');
    padding-top: 0px;
    min-height: 180px;
    border-radius: 0px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

li.map2.media.list-group-item.p-4 {
    background-color: blue;
    background-image: url('../img/MaestasReykjavikBanner.jpg');
    padding-top: 0px;
    min-height: 1400px;
    border-radius: 0px;
    border: 0px solid red;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

/* navbar  SECTION */

.app-navbar {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.app-navbar .form-control {
    box-shadow: none;
}

.app-navbar .navbar-brand img {
    width: 140px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.app-navbar .navbar-collapse {
    max-height: inherit;
}

.app-navbar .navbar-collapse:after {
    height: 100vh;
}

.app-navbar .form-control {
    background-color: #00b0ec;
}


/*  SECTION misc */

.app-login-form {
    max-width: 280px;
    margin-top: -60px;
}

.app-new-msg {
    margin-right: 10px;
}

.app-brand {
    width: 40%;
    display: inline-block;
}

.app-brand img {
    width: 100%;
}


li.nav-item > a.nav-link {
    background-color: lightsteelblue;
    opacity:.8;
}

/* SECTION visual */

/*SECTION functional addition */

.map {
    max-width: 100%;
}

.blog {
    float: left;
    min-height: 500px;
    max-height: 500px;
    width: 100%;
    border: inset 2px silver;
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.blog h2 {
    text-shadow: 3px 3px 3px #aaa;
    font-size: 1em;
    border: solid .5px brown;
    padding: 3px 4px 3px 4px;   
    margin-bottom: 5px;
    color: #59f3ff;
}

.blog h3 {
    color: #59f3ff;
    text-shadow: 3px 3px 3px #aaa;
}

.blog p {
    line-height: 1.2em;
}

.center {
    text-align: center;
}

.rightalign {
    text-align: right;
    color: #59f3ff;
    margin-right: 0px;
    margin-bottom: 5px;
}

/*                  TO BE CLASSIFIED !!! */

.center {
    text-align: center;
}

.dropdown-toggle * {
    z-index: 1000;
    opacity: 1;
    color: darkblue;
}

.left {
    text-align: left;
}

#febarchive {
    margin-top: 33px;
}

#divContainer {
    min-height: 115px;
    background: transparent;
}
 
#bluelogo {
    background-color: rgb(20, 200, 212);  
 
    height:35px;
    width:55px;
}


ul.dailytech.archive {
    color:lightskyblue;
}

@media(min-width:700px){
    #dailylogo { 
        float:right;
        margin-right:50%;
      height:35px;
      width:55px;
  }
}

img#moonscape {
    max-width: 100%
}

/* SECTION UTILITIES */
div.mod-behave button {
     width:60px;
}
 
 
   h5 > button {
    font-family: monoton !important;
    cursor:pointer;
    margin: 0px;  
    font-size:120%;
    background-color:transparent;
    color:white;
    border:none;
    text-transform: uppercase;
    padding: 3% 1% 3%; 
}
h5 > button:hover {
    color:lightblue;
    border:solid .4px silver;
}
#toggler {
  background-color:rgb(0, 176, 236);
  cursor:pointer;
}
.zoom {
    transition: transform .3s;
    /* Animation */
}

.zoom:hover {
    transform: scale(2);
    overflow:hidden;
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom4 {
    transition: transform .1s;
    /* Animation */
}

.zoom4:hover {
    transform: scale(2);
    overflow:hidden;
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.hidden {
    display: none;
}

.opaque {
    opacity: .8;
}

.smalltech {
    font-size: 1.3rem !important;
    color: purple;
}
#apod_explaination {
max-height:250px;
padding:2%;
overflow-y:scroll; 
background-color:rgba(4, 142, 196, 0.459);
}
h2.title {
    color:aliceblue;
}
div.media-body.thesis {
    max-height:470px;
} 
 
.hover:hover {
  color:rgba(59, 41, 156, 0.603);
}