

  /* SUPERS */
  
  html {

    mix-blend-mode: value;
    background: url(image.jpg) blue;
    background-blend-mode: value;
  }
    main{
      background: #eee;
      width: 80%;
      margin: 30px auto;
      border-radius: 10px;
    }
    
    .content{
      padding: 20px;
    }
    
    .content button,
    .content input[type="submit"]{
      background: #fff;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      color: #777;
      border: 0;
      box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
      font-size: 16px;
    }
    
    .content button:nth-child(2){
      float: right;
    }
    
    .content ul{
      padding: 0;
      list-style-type: none;
      margin: 30px 0;
    }
    
    .content li{
      padding: 15px 0;
      border-top: 1px solid #e2e2e2;
      color: #444;
    }
    
    .content li span{
      float: right;
    }
    
    .content li h3{
      display: inline-block;
      font-weight: normal;
      font-size: 22px;
    }
    
    .content input{
      width: 90%;
      padding: 10px 5%;
      border-radius: 10px;
      border: 2px solid #ddd;
      margin: 10px 0;
    }
    
    .content input[type="submit"]:last-child{
      width: 150px;
      display: block;
      margin: 15px auto;
    }
    
    .remove{
      float: right;
      padding: 5px;
      background: #fff;
      width: 18px;
      text-align: center;
      border-radius: 20px;
      color: crimson;
      cursor: pointer;
      margin-left: 10px;
    }
  .belt{
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 5px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
  }
  
  #menu-bar{
    background: crimson;
    color: #fff;
    padding: 10px;
  }
  
  #menu-bar h1{
    font-size: 24px;
    font-weight: normal;
    display: inline-block;
  }
  
  #menu-bar ul{
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 6px 0;
  }
  
  #menu-bar li{
    float: right;
    margin-left: 20px;
  }
  
  #menu-bar a{
    color: #fff
  }
  
  /*   overrides */
  
 
#secret-button {
    color:aliceblue;
}
.secret {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    padding: 10px;
    font-family: 'Monoton';
    cursor: pointer;
    outline: none;
}

.secret:hover {
    background-color: steelblue;
    color: #0b5e9c;
    cursor: pointer;
}

#secret-paragraph {
    padding: 5% 5%;
a {
    color:purple;
}
}


.secretMP {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    padding: 10px;
    font-family: 'Monoton';
    cursor: pointer;
    outline: none;
}

.secretMP:hover {
    background-color: steelblue;
    color: #0b5e9c;
    cursor: pointer;
}

#secretMP-paragraph {
    padding: 5% 5%;
a {
    color:purple;
}
}


    #secret-buttonMP {
    padding:5% 5% 1%; 
    font-family:'monoton';
    }
    #secret-buttonMP:hover { 
    color:darkslateblue;
    font-weight:bold;
    cursor: pointer;
    } 
    #secret-paragraphMP {
    padding:5% 5% 1%; 
    font-family:'monoton';
    max-width:100%;
    }

    #secret-paragraphMP .firstparagraph::first-letter {
        font-size: 200%;
        font-weight: bold;
        border: solid thin white;
        padding: 4pt;
        margin: 15px 4px 5px 0px;
    }


/*  MPB feb, MPBmarch      ARCHIVES            */
#secret-buttonMPB {
    padding:5% 5% 1%; 
    font-family:'monoton';
    cursor:pointer;
    } 
    #secret-buttonMPB:hover { 
        color:darkslateblue;
        font-weight:bold;
        cursor: pointer;
        }  
#secret-buttonMAR {
    padding:5% 5% 1%; 
    font-family:'monoton';
    cursor:pointer;
    } 
    #secret-buttonMAR:hover { 
        color:darkslateblue;
        font-weight:bold;
        cursor: pointer;
    } 

    
#secret-buttonAPR {
    padding:5% 5% 1%; 
    font-family:'monoton';
    cursor:pointer;
    } 
    #secret-buttonAPR:hover { 
        color:darkslateblue;
        font-weight:bold;
        cursor: pointer;
        } 


        .paragraph {
            max-height:750px;
            overflow-y:scroll;
        }