 
  .form {
    position: absolute;
    opacity:.7;
    top:50rem;
    left: 0rem;
    padding:10px;
    margin:10px;
      color:blue;
      text-align:left;
      text-decoration:none; 
      font-family:'Monoton';
      background-color: #227bbac6;
      box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
  } 
  .form:hover {
      font-weight: 500;
      border:solid 1px silver; 
      transition: margin 0.3s; 	}
  
  path {
    fill-rule: evenodd;
    stroke: rgb(188, 188, 245);
    stroke-width: 2px;
  }
  
  .sun path {
    fill: rgba(19, 67, 163, 0.863);
    opacity:.5;
  }
  
  .planet path {
    fill: #9ecae1;
    opacity:.6;
  }
  .annulus path {
    fill: #101e79a9;
    opacity:.6;
  } 
  div#planet {
      float:left;
    padding:5px;
    margin:5px;
      color:blue;
      text-decoration:none; 
      background-color: #dfeef7;
      box-shadow: 0px 10px 50px rgba(102, 57, 207, 0.7); 
  }  
  
   