<h6 class="dailytech">Twython NASA API</h6>
<button (click)="displayNasa()">Display Nasa API </button>
<div class="nasa">
  <div *ngIf="object">
    <h6>{{ object.title }}</h6>
    <!-- <p> {{ object | json }}</p> -->

    <p id="date"><strong>Date:</strong> {{ object.date }}</p>

    <img [src]="object.url" width="400" />
    <p id="apod_explaination">
      <strong>Summary:</strong> {{ object.explanation }}
    </p>
    <p id="copyright">
      <strong>{{ object.media_type }} Copyright:</strong> {{ object.copyright }}
    </p>
    <p><strong>URL:</strong> {{ object.hdurl }}</p>
  </div>
</div>
